[2020-05-10 05:58] nbougalis commented on #3390
First of all, thank you for not sending an unsigned binary!

With that said, I'll take the opportunity to issue a sternly-worded note of caution to everyone—and please forgive my use of bolded caps:

**PLEASE, PLEASE, PLEASE DO NOT RUN RANDOM BINARIES, _ESPECIALLY_ IF YOU ARE OPERATING AN EXCHANGE!**

Either compile one yourself from scratch on a machine that you can trust or, if that is not possi

[2020-05-10 13:09] maef2018 commented on #3390
success，thank you!

[2020-05-10 13:09] #3390 closed

[2020-05-10 14:41] nbougalis commented on #3394
Thanks for the report. The `delivered_amount` metadata field is synthetically inserted and not present when using the `ledger` command.

If you attempt to use the `tx` command, you will see `delivered_amount` appear. For example, here is a link to the transaction you reference, as reported by `tx`: https://xrpl.org/websocket-api-tool.html?server=wss%3A%2F%2Fs2.ripple.com%2F&req=%7B%22id%22%3A1%2C%

[2020-05-11 00:52] WietseWind opened #3395 "Remove `wallet_propose` method (Version: *)"
## Summary
Rippled implements the [wallet_propose](https://xrpl.org/wallet_propose.html) method. I feel it may be a good idea to remove this from rippled and move it to a separate tool.

## Motivation
There are many secret/seed/... formats/methods to generate accounts going around, like:
- Family Seed (now part of wallet_propose)
- Word word word word
- BIP* Mnemonic
- [Secret Numbers](https://www

[2020-05-11 07:37] gnurag opened #3396 "EnableAmendment timer starts at 77.78% (Version: [rippled 1.5.0])"
## Issue Description
I may be reading this incorrectly - but I think the 14 day timer to enable an amendment starts at `77.78%` (28 Ayes out of 36 as of today). 28 Ayes of 36 is only `77.78%` agreement. [Amendment process](https://xrpl.org/amendments.html#amendment-process) doc says this must be `80%` or above.

Observed this behavior with [`RequireFullyCanonicalSig`](https://xrpl.org/known-amendm

[2020-05-11 08:24] intelliot commented on #3395
Sounds reasonable; the first step here would be to create / document the standalone tool and make sure it serves all the use cases that wallet_propose did.

[2020-05-11 09:04] MarkusTeufelberger commented on #3395
As long as the "standalone" tool is truly standalone (a single binary, not something JavaScript with a few GB of node_modules) sure, why not.

[2020-05-11 12:59] gnurag commented on #3278
+1 An amendments stream would be a welcome addition.

[2020-05-13 08:29] nbougalis commented on #3396
Thanks for opening an issue. A couple of people had already reached out to me about the DeletableAccounts amendment, wondering how come it reached majority, since 28 validators seem to support it but (a) the consensus quorum is presently 29 and (b) 28/36 is strictly less than 80%, which is the amendment activation threshold, so I already had a chance to triage this..

The answer boils down to two

[2020-05-13 22:04] nbougalis commented on #3317
Looking at the code, we land at [`ripple::RPCParser::parseManifest`](https://github.com/ripple/rippled/blob/1.5.0/src/ripple/net/impl/RPCCall.cpp#L221-L237).

The function calls [`ripple::RPCParser::validPublicKey`](https://github.com/ripple/rippled/blob/1.5.0/src/ripple/net/impl/RPCCall.cpp#L148-L161) and a closer look at that function reveals it attempts to parse its input as base58 and if that

[2020-05-14 11:20] shota-hizawa opened #3401 "Unexpected current sequence(Version: [1.5.0])"
## Issue Description
My xrp account on testnet has set wrong sequence.
Transactions from the account in the picture below is less than ten, however, its current sequence is 7,114,878(maybe related to ledger index?).
![image](https://user-images.githubusercontent.com/42070729/81927661-fc0b3680-961e-11ea-837d-fec3acc85026.png)

## Steps to Reproduce
I guess accounts created after few days ago is fac

[2020-05-14 11:40] carlhua commented on #3401
@shota-hizawa this is by design since we now have activated  DeletableAccounts via Amendment: "With this amendment, new accounts start with their Sequence numbers equal to the Sequence number matching the index of the ledger in which the account is created. " For more information, see here: https://xrpl.org/known-amendments.html#deletableaccounts

[2020-05-14 15:59] intelliot commented on #3401
For details about getting ready for Deletable Accounts, see the blog post: https://xrpl.org/blog/2020/get-ready-for-deletable-accounts.html

[2020-05-14 17:37] HowardHinnant commented on #3269
Do we need to go through a deprecation period where both the old errors and the new error coexist prior to removing the old errors?

[2020-05-14 22:15] mDuo13 commented on #3366
If the `rippled.cfg` file used a well-defined format that there were nice editors for, that would be a point in your favor, @MarkusTeufelberger. But, sadly, it doesn't, so editing it with a GUI is probably full of pitfalls. (And much as several of us would like to migrate it to something better-defined, like TOML, I think that's a big effort that's not in the works just yet.)

I disagree with your

[2020-05-14 22:20] mDuo13 commented on #3269
I think the existing codes are piecemeal and inconsistent enough in this case that it seems unlikely to actually break someone's code, but I could be wrong about that.

To be safe, I think it might be necessary to bump the API version for this change, which would mean the old API version would return the old codes and the new API version would return the new code.

[2020-05-15 00:18] mDuo13 commented on #2733
You can use [ripple-lib](https://github.com/ripple/ripple-lib/) through Node.js. Here's [Microsoft's guide for Node.js on Windows](https://docs.microsoft.com/en-us/windows/nodejs/).

[2020-05-15 01:26] shota-hizawa commented on #3401
@carlhua @intelliot
Thank you for quick response! I close this issue.

[2020-05-15 01:26] #3401 closed

[2020-05-15 19:47] cjcobb23 opened #3405 "Race condition in OrderBookDB (Version: [1.5.0])"
## Issue Description
There is a rare race condition within `OrderBookDB`, between `OrderBookDB::update()` and `OrderBookDB::addOrderBook()`.  `OrderBookDB::update()` processes an entire ledger and then overwrites the underlying datastructures via swap: https://github.com/ripple/rippled/blob/97712107b71a8e2089d2e3fcef9ebf5362951110/src/ripple/app/ledger/OrderBookDB.cpp#L148. `OrderBookDB::update()`

[2020-05-15 20:54] ximinez commented on #3405
A couple of other ideas that occur to me:
* `update()` holds the lock during the entire update process. This could have performance implications, obviously, so it remains to be determined if any trade off is worth it. It seems a very safe option for data integrity, though.
* `addOrderBook()` signals to `update()` that it made changes while `update()` was working (via a flag or something). `update(

[2020-05-15 21:54] cjcobb23 commented on #3405
This would be great for data integrity, but on my machine, if I start the software with --load (meaning I load a full ledger from the database, instead of starting from genesis until network sync), update takes upwards of 5 minutes, which is much too long to hold the lock for.

[2020-05-18 05:34] rippleitinnz commented on #3278
+2

[2020-05-19 04:44] SteelBRS opened #3408 "Offer Expiration doesn't work according to specification"
I've been setting a 30 second expiration on the offers I create, but they keep lingering in the ledger, so I need to manually cancel them.

[code]

[2020-05-19 04:57] yxxyun commented on #3408
It is expired and will never filled, it will be canceled when other tx want fill it.

[2020-05-19 08:14] SteelBRS commented on #3408
I'm sorry to say it, but you're gonna have to learn english a little bit better.
I don't understand what you mean.
Do you mean that expired offers are visible forever on the ledger? And that they can be looked up with the command 'account_offers' to the end of time? That sounds incredibly expensive data-wise over time and sounds like a design error.
Also ... when an offer is fulfilled ... I hope i

[2020-05-19 10:06] MarkusTeufelberger commented on #3408
Please quote the part of the specification that is violated in your opinion.

[2020-05-19 10:21] SteelBRS commented on #3408
The specification is not violated.
https://xrpl.org/offers.html#offer-expiration

But it would be cleaner to delete non-fulfilled expired offers immediately after expiry.
Not to mention all the data you'd save pushing all over the network ... there is no reason to keep those ... from my point-of-view ... perhaps you have a different opinion?

[2020-05-19 10:25] MarkusTeufelberger commented on #3408
The explanation why this is not possible currently is also included in the link you gave. Generally data is deduplicated, so there's not much network traffic because of expired offers. A larger concern might be state inflation, but I'd like to see actual numbers for that to call it an actual problem.

[2020-05-19 13:41] carlhua commented on #3408
Please be considerate and polite in your responses, even if you disagree with someone else. Also please be mindful that this project is international in nature and although English may feel like it is the lingua franca in the coding space, the reality is that contributors come from walks of life and all corners of the world. Let’s all work together to make this project inclusive and fun to work on

[2020-05-19 19:58] movitto commented on #3408
The only way the ledger gets modified is through transactions. This why for example Escrows are not automatically resolved when their 'Finish' or 'Close' time transpires, they require EscrowFinish and EscrowCancel transactions to release the funds. For the same reason expired offers do not disappear until cancelled by OfferCancel or overwritten by OfferCreate (specifying offer_sequence)

[2020-05-20 20:16] SteelBRS commented on #3408
Sorry for my impolite response @yxxyun

@movitto does this mean that expired offers will stay on the ledger forever if no-one cancels them explicitly via. another transaction?

[2020-05-20 20:44] MarkusTeufelberger commented on #3408
Not movitto, but yes.

[2020-05-20 21:04] scottschurr commented on #3408
Um, also not movitto, but it depends on what you mean by "explicitly via another transaction".  For example, if a Payment or OfferCreate transaction attempts to use an offer and discovers that offer is expired, then that transaction will make a best effort at removing the expired offer from the ledger.  There are rare circumstances where that doesn't happen, but I think that's too far down in the

[2020-05-20 21:07] SteelBRS commented on #3408
That is quite interesting @scottschurr - thank you for the detailed explanation

[2020-05-26 18:07] intelliot commented on #3408
Scott is correct. This is also explained the documentation:

https://xrpl.org/offers.html#offer-expiration

I believe that resolves this issue. If not, you can open a new issue as needed.

[2020-05-26 18:07] #3408 closed

[2020-05-27 18:59] cjcobb23 opened #3414 "Reporting Mode"
## Problem

Rippled stability and scalability are limited because it supports multiple distinct workloads in the same process: transaction processing and reporting. Namely, individual rippled peers tend to lose synchronization with the consensus network when subjected to heavy reporting traffic or deleting large amounts of historical data. Optimizing for one workload comes at the expense of the ot

[2020-05-27 19:26] cjcobb23 commented on #3414
@MarkusTeufelberger what do you think of this? We created this issue to give the community a heads up about this upcoming feature, and to give the community an opportunity to provide feedback.

[2020-05-27 21:29] MarkusTeufelberger commented on #3414
I thought that was what middleware like xumm or xpring or https://github.com/ripple/rippled-historical-database was for? Why put all this into `rippled` itself, especially if it isn't even going to connect to other servers or process transactions?

Personally I think that running several instances of `rippled` in e.g. Kubernetes with proper load balancing and auto-scaling enabled should be enough

[2020-05-27 22:30] cjcobb23 commented on #3414
The motivation behind putting this into rippled is code reuse. Reporting mode can handle almost the entire API without much effort, since it can use the exact same code for the RPC handlers. Otherwise, we would have to rewrite all of those handlers. To be clear, a future iteration of this project would split the reporting mode code out of rippled into a separate repo, with shared code in a third r

[2020-05-28 00:13] cjcobb23 opened #3417 "Software does not distinguish between different Conditions (Version: 1.5)"
I discovered some code that just doesn't smell right. I don't know the intended behavior, but I suspect the intent is different than what is actually happening.

The code that checks whether the condition that is required for a given RPC is met does not actually consider what condition is required. All of the conditions except `NO_CONDITION` are treated exactly the same. All of the following lines

[2020-05-28 00:43] cjcobb23 commented on #3417
For anyone scratching their head because git blame says I wrote this code, I actually just moved it from a different file. Prior to commit `7d867b806d70fc41fb45e3e61b719397033b272c`, the code was here:
https://github.com/ripple/rippled/blob/761bb5744e9a43ebc6c94441edf8b2d8b1d662a4/src/ripple/rpc/impl/RPCHandler.cpp#L152

[2020-05-28 05:41] nbougalis commented on #3417
D'oh... this code is ancient (probably around 6 years old) and it does have the bug you describe, which is incredibly subtle.

I suspect the intention was to communicate that, e.g. `NEEDS_CURRENT_LEDGER` _requires_ `NEEDS_NETWORK_CONNECTION` but all it did was make the code brittle. We should reconsider how this is handled, so that the condition checking code is both type-safe and robust by design

[2020-05-28 16:56] ximinez commented on #3321
Some more changes that are tangentially related, but close enough to be added to this issue. (Text imported from internal issue RIPD-1590.)

--
In rippled-example.cfg, the [node_db] clause has this comment preceeding it:

    metadata, account states, and ledger headers.  Helpful information can be
    found here: https://ripple.com/wiki/NodeBackEnd
    delete old ledgers while maintaining at leas

[2020-05-29 00:52] jingniao opened #3420 "Some ModifiedNode with AccountRoot can't know modify content"
I find some transaction has ModifiedNode for AccountRoot like
`https://livenet.xrpl.org/transactions/410FB90681203BD29280539A9EF24EFDE07C8C7652A2428BCCBDACFCD0D57981/raw`
it modify LedgerIndex `BF1F2A23D614916E3C6ED2DCC389468CFA09045BEDB54C71A05C5E94EA6C6CFE` but I can't find what content is modified by this?

[2020-05-29 22:14] nbougalis commented on #3420
Thank you for reporting this. We will take a look at this. Preliminary guess is that this is an account that had an offer deleted. A `FinalFields` should have bee included; we'll need to figure out why it isn't.

[2020-05-29 22:27] nbougalis commented on #3420
The referenced object is an `AccountRoot` for [`rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq`](https://livenet.xrpl.org/accounts/rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq). It's the issuer of currencies used in this transaction.

There is a modification of a `DirectoryNode` associated with that address:

[code]

I suspect that the account root is being referenced by the threading code (i.e. it's trying to update t

[2020-06-01 01:32] JoelKatz commented on #3420
Nik and I took a pretty close look at node 8:

[code]

This record exists because an offer owned by this account was removed. The `PreviousTxnID` and `PreviousTxnLgrSeq` fields are here to prevent the loss of the end of the thread of executed transactions that affected that offer. The offer is removed from the ledger by this transaction, so the metadata needs to preserve the end of thread.

The nu

[2020-06-01 07:52] l4zygreed opened #3426 "Can't install rippled on Ubuntu container | Certificates error"
## Issue Description
Can't install rippled in docker ubuntu container using docs tutorial because always getting outdated certificates error on `apt-get -y update`.
it's not working also if change
`"deb https://repos.ripple.com/repos/rippled-deb bionic stable"`
to
`"deb [trusted=yes] https://repos.ripple.com/repos/rippled-deb bionic stable"`

## Steps to Reproduce
Dockerfile:
[code]

## Expected R

[2020-06-01 12:49] struong17 commented on #3426
I just tried again and I think they fixed it.

[2020-06-01 12:52] l4zygreed commented on #3426
yeap, looks like they updated them.

[2020-06-01 12:52] #3426 closed

[2020-06-01 15:36] nbougalis opened #3427 "Consider supporting deterministic builds"
Someone should investigate the possibility of using [Gitian](https://gitian.org/) to build packages, so that the builds are reproducible. That way a third party can check out and build a given version of the code and produce a binary _identical_ to the one published.

Deterministic builds will result in enhanced confidence about released binary packages.

[2020-06-01 19:14] MarkusTeufelberger commented on #3427
I did some work on building with Bazel (https://bazel.build/) a while back - upside is that there would be other benefits, downside is that the team that mainly contributes to `rippled` seems to be into cmake.

I'm not so sure if a whole VM as in gitian is needed, a deterministic build using docker might be enough already.

[2020-06-01 20:44] SteelBRS commented on #3065
Oh dear ... so I tried using http://software.dzhuvinov.com/json-rpc-2.0-client.html

[code]

So I need to find an implementation of JSON-RPC 1.0? ... from 2005?

*sigh*

Any progress on this issue? Any idea when you'll support JSON-RPC 2.0?

[2020-06-01 21:53] #2809 closed

[2020-06-01 21:53] #2861 closed

[2020-06-02 04:01] SteelBRS commented on #3065
Nope ... I simply won't soil my modern Kotlin codebase with libraries from 15 years ago.

I'm just gonna have to wait until you fix this.

[2020-06-02 07:50] MarkusTeufelberger commented on #3065
Well, cars went from electric to gas engines in the early 20th century... ;-)

Are there actual errors you encounter because the JSON-RPC 2.0 spec isn't 100% followed? You could also try the new gRPC interface by the way, this should be better typed and more modern than JSON-RPC.

[2020-06-02 08:07] SteelBRS commented on #3065
Yes, I've heard of this mad try from the gas companies to fight the future ... also gas powered radios to keep the electric companies out of the households.

Sorry again for the tone in my comments, but there's nothing that can get my blood up more than bad/legacy tech IT solutions.

I've tried adding all the parameters discussed earlier in this thread, but all tries ended up with an HTTP 400.

I'

[2020-06-02 10:46] SteelBRS commented on #3065
Is gRPC enabled on the public servers?
https://xrpl.org/configure-grpc.html

[2020-06-02 11:38] MarkusTeufelberger commented on #3065
Why public servers? Already in this issue it is stated that JSON-RPC 2.0 only works on command line, so you clearly have a local server running if you did your tests with the parameters discussed in this thread?

[2020-06-02 12:53] SteelBRS commented on #3065
Oh well done ... I guess we're back to timelines then.

[2020-06-02 14:33] MarkusTeufelberger commented on #3065
Then you're in the wrong place I'm afraid, since this is the repository for the code of this server, not the contact point for the operations team at Ripple who are running some public servers. I'm sure you can find someone to run a server for you if you need such special configurations and don't want to run it yourself for whatever reason.

The public servers operated by Ripple by the way are NOT

[2020-06-02 14:40] SteelBRS commented on #3065
Then I must admit I don't know how Ripple servers work.
Because I thought the public servers were for production. And if you ran your own rippled server, it would maintain your own little test network i.e. for test usage only.

[2020-06-02 14:47] MarkusTeufelberger commented on #3065
https://xrpl.org/get-started-with-the-rippled-api.html#public-servers

The first sentence in the README of this repository sums it up nicely:

"The XRP Ledger is a decentralized cryptographic ledger powered by a network of peer-to-peer servers."

Peer-to-peer means that there are no differences between servers you run or that someone else runs, they are equals. You can just run a local instance, t

[2020-06-03 12:56] SteelBRS commented on #3065
You threw the book at me!
(a legalese term, but I'm taking it back to IT for when people tell you to read the manual)

[2020-06-03 12:57] carlhua opened #3430 "Add support for AccountTxnID to the TxQ (Version: 1.5.0)"
During normal transaction processing, if the transaction contains an AccountTxnID field, and the asfAccountTxnID flag has been set by the account, then the transaction’s AccountTxnID must match the account’s AccountTxnID value. Then when the transaction is processed, the account’s AccountTxnID value is updated with the transaction ID for next time.
[code]
The TxQ currently punts on this whole proc

[2020-06-03 13:08] carlhua opened #3431 "delivered_amount vs DeliveredAmount (Version: 1.5.0)"
## Issue Description

The `ledger` RPC command has a different format for metadata than the `tx` RPC command. In the `ledger` command's response, `metaData` (not `meta`) is found. `DeliveredAmount` (not `delivered_amount`) is found. It is also missing `validated` field. This should be fixed to match `tx` command's response.

## Steps to Reproduce

1. Go to https://xrpl.org/websocket-api-tool.html#

[2020-06-03 13:13] carlhua opened #3432 "Enhance rippled unit tests speed"
## Summary
The existing rippled unit tests take substantial amount of time to complete, consider enhancing the speed of rippled. One of the issues here is that the `signalStop` call that causes ApplicationImp to signal and waits for its children to stop before it, itself, stops.

Exported from RIPD-1384
Originally reported for version: 1.5.0

[2020-06-03 13:16] carlhua opened #3433 "Convert `boost::optional` usage to `std::optional` as possible"
## Summary

rippled use boost::optional a ton. Uses of std::optional are starting to creep into the code base because they are required by external libraries. The mixture of these two is not yet a problem, but it will eventually cause confusion and difficulties.

We should convert the usage of `boost::optional` to `std::optional` as part of C++17 enhancements.

Exported from RIPD-1788

[2020-06-03 13:18] carlhua opened #3434 "Allow validations signed by ed25519 validator keys (Version: 1.5.0)"
## Summary

Provide the capability to allow validations signed by ed25519. There is a closed PR that attempted to address this but it bit-rotted away. Consider using the PR as a baseline to complete this feature.

Closed PR: https://github.com/ripple/rippled/pull/2647

Exported from RIPD-1424

[2020-06-03 13:19] carlhua opened #3435 "Convert code base from `boost::string_view` to `std::string_view`"
## Issue Description

The codebase currently does not make a lot of use of string_view. Mostly it shows up in the asio facing parts of the code. I tried converting those uses of boost::string_view to std::string_view a few months ago. It almost worked.

There’s a problem in boost 1.70 where in Windows the flag that tells beast to use std::string_view (not boost::string_view) does not work correctl

[2020-06-03 13:33] carlhua opened #3436 "Refactor Transactor classes to get rid of the static functions."
## Issue Description
The static functions in the Transactor class tree (eg, preflight, preclaim, calculateBaseFee) may have started as a good idea, but they've become unwieldy, and are sometimes requiring duplicate work, especially between preflight and doApply.

Refactor them to be virtual functions instead. During this process, look for any expensive calculations that are repeated between the st

[2020-06-03 15:40] intelliot commented on #3431
This might be related: https://github.com/ripple/rippled/issues/2599

[2020-06-03 16:44] cjcobb23 commented on #3431
I looked into this. The "meta" vs "metaData" issue is because of here: https://github.com/ripple/rippled/blob/f43aeda49c5362dc83c66507cae2ec71cfa7bfdf/src/ripple/app/ledger/impl/LedgerToJson.cpp#L133  We even will use "meta" if you request binary data, but "metaData" otherwise. Definitely should fix that.

"validated" is not a field of each transaction, but applies to all of the returned data. Eit

[2020-06-03 20:04] cjcobb23 commented on #3431
I reran this with the exact request that you specified and was able to see "DeliveredAmount". I saw a "DeliveredAmount" field as well as a "delivered_amount" field. Previously I had tried with a different ledger, and there was only "delivered_amount".

[2020-06-03 21:07] SteelBRS commented on #3065
Running rippled-1.5.0

Unfortunately the workaround @intelliot talked about doesn't work:

![image](https://user-images.githubusercontent.com/1478073/83689206-e91cce00-a5ee-11ea-805f-12803936b2ea.png)

[2020-06-04 07:09] nbougalis commented on #3420
@jingniao, unless you have any further questions, I'd like to go ahead and close this issue. I am taking, as action items, the need for better documentation about the metadata.

[2020-06-04 12:45] MarkusTeufelberger commented on #3065
I definitely do NOT want GraphQL exclusively. Feel free to open an issue + PRs for a GraphQL interface in `rippled` though. I have a feeling however that getting GraphQL into a C++/boost code base will be a challenge.

The following seems to work by the way (I don't know how a 100% valid response would look like):

[code]

Copy-paste into https://xrpl.org/websocket-api-tool.html#account_info and s

[2020-06-04 12:48] carlhua opened #3438 "Validator Keys / Tokens in separate file"
## Summary

Currently, configuring a server to validate involves creating either a [validator_seed] entry or a [validator_token] entry.

This is a problem because those entries contain the information necessary to validate and can be accidentally leaked when a validator operator is asking for assistance and is instructed to show parts of their configuration.

We should store the necessary data (se

[2020-06-04 12:49] carlhua commented on #3438
Also consider: how about adding a general purpose way to include other files in our config file? Syntax TBD, but as a placeholder I like
@path/to/file

That syntax is from a thread about adding includes to toml here: https://github.com/toml-lang/toml/pull/81

[2020-06-04 12:50] carlhua opened #3439 "use base_uint for transaction ID"
## Summary

Convert transaction ID internal representation from raw uint256 to a tagged base_uint like Currency and NodeID

Exported from RIPD-1738

[2020-06-04 12:51] carlhua opened #3440 "Make pseudo transactions queryable"
## Summary

SetFee and EnableAmendment transactions show up in the ledger, but querying for them via tx_hash returns 'not found' - the updated version of the XRPL transaction explainer queries transactions directly from rippled, so it would be ideal to be able to fetch these as well.

Exported from RIPD-1742

[2020-06-04 12:53] carlhua opened #3441 "Simplify and constexpr-ize SField"
## Summary
As of C++14, constexpr support in the language has gotten to the point that we ought to be able to build all of the SFields, and their supporting lookup tables, at compile time. Here are the steps to get there:

1. The system currently supports dynamic creation of SFields. I think that's wrong, but I need to confirm that with the team. If the team agrees that dynamically creating SField

[2020-06-04 13:14] carlhua opened #3442 "Refactor Stoppable interface"
## Summary

Currently, the Stoppable interface requires inheritance and constructor parameters, which makes messy declarations of abstract base classes that implement Stoppable. We need to change the way the Stoppable hierarchy is formed to eliminate the need for constructor arguments.

Exported from RIPD-118

[2020-06-04 13:19] carlhua opened #3443 "Create man page for rippled"
## Summary

Documentation for rippled should be comprehensive as per reference documents and in industry-standard formats, such as UNIX man/troff format for manual pages.

Exported from RIPD-183

[2020-06-04 13:50] carlhua opened #3444 "use job queue for preflight"
## Summary

Moving preflight transaction checking to the job queue would move thread-safe operations outside of locks, and allow increased parallelization of transaction processing.

Exported from RIPD-986

[2020-06-05 21:59] SteelBRS commented on #3065
Thank you for your time finding a solution @MarkusTeufelberger
Those requests however are not compliant JSON-RPC 2.0 requests
https://www.jsonrpc.org/specification#request_object

[2020-06-06 13:42] SteelBRS commented on #3065
Well ... I can see the writing on the wall ... this issue was opened almost a year ago and nothing has happened.
To get any progress within a reasonable amount of time I guess I'll just have to soil my codebase with oldschool JSON-RPC 1.0 code :frowning_face:
I really hope that you get funding to modernize Ripple's tech ... seems like the owners just pad their own fortunes rather than fixing the c

[2020-06-06 21:54] MarkusTeufelberger commented on #3065
Well, I got it to run on my local node now using the command line, with a correct RPC call and response (though it still requires adding that extra field that was already criticized in the original PR - which was merged about half a decade ago btw.). I also got it to work against `s1.ripple.com`, but again the workarounds described in here apply. Since they only apply to parameters you already hav

[2020-06-06 22:02] SteelBRS commented on #3065
I did a solution with a simple REST call.
Yes your requests are valid JSON-RPC 1.0, version 2.0 just formalizes which elements are allowed in the root document: jsonrpc="2.0", method, params (optional) and id

[2020-06-06 22:03] MarkusTeufelberger commented on #3065
Yes, I managed with jsonrpc 2.0 (the calls look different than the ones I posted).

[2020-06-06 22:09] SteelBRS commented on #3065
Cheers, dude ... sorry for nagging, but ... being a programmer for about 34 years, I still try to challenge myself to create the most elegant, easily readable & maintainable solutions - and these are often obtained using the latest tech. If you're not trying to be the best possible programmer, then it's time to change profession.
I'm sure your goals are the same.

[2020-06-06 22:10] MarkusTeufelberger commented on #3065
Sure, looking forward to your contributions.

[2020-06-06 22:23] SteelBRS commented on #3065
Erhhh ... Ripple pays their developers, right? 😄

[2020-06-06 22:30] MarkusTeufelberger commented on #3065
I guess? I'm not employed there.

[2020-06-07 13:05] abcdefg-hijklmnop opened #3445 "Unexpected high fee (Version: 1.5.0)"
Issue Description:
The API "fee" command, sometimes return a weird answer.
In the response structure, under "drops", there is a field named "open_ledger_fee". Its value in most cases is 10 as expected, but sometimes we are getting high values like 5125, 510$
This is a temporary answer, and If I call within a second or two, I get again the expected 10. So, I can't understand the logic of getting th

[2020-06-08 01:16] #3420 closed

[2020-06-08 13:49] ximinez commented on #3445
This behavior is intentional. See also:
* https://xrpl.org/fee.html#fee
* https://xrpl.org/transaction-cost.html
* https://xrpl.org/transaction-queue.html
If you submit a transaction with a fee between the `minimum_fee` and `open_ledger_fee`, it will likely be queued for a future ledger - most likely, this will be the very next ledger, so it won't need to wait more than a few extra seconds.

I'm g

[2020-06-08 13:49] #3445 closed

[2020-06-09 01:47] cjcobb23 commented on #3065
@SteelBRS just out of curiousity, why don't you implement the JSON 2.0 functionality that you desire and create a pull request? This is an open source project, so anyone can contribute.

Or you could use the gRPC API. The gRPC API only has a subset of the functionality of the JSON API, but extending that functionality should be straightforward. The infrastructure is already there.

[2020-06-09 02:41] SteelBRS commented on #3065
I don't work for free

[2020-06-09 07:14] MarkusTeufelberger commented on #3065
@cjcobb23 - JSON-RPC 2.0 was already implemented and added to `rippled` years ago, but incorrectly/not according to spec and the functionality remains to this day undocumented. It is also really hard to hit that code path and definitely not obvious. This is the issue that tracks the workarounds to convince `rippled` to actually give a JSON-RPC 2.0 answer e.g. via web sockets or the RPC port.

GRPC

[2020-06-09 21:26] mDuo13 commented on #3440
Duplicate of #2597 which has been fixed as of v1.5.0

[2020-06-09 21:26] #3440 closed

[2020-06-09 21:29] mDuo13 commented on #3431
`DeliveredAmount` is a raw data field that is included in the canonical metadata format (including in binary) and contributes to the hash of the ledger.

`delivered_amount` is a synthetic field that is added by the API.

Also, the `meta` vs. `metaData` thing is part of a much bigger problem thoroughly described in #2599 as @intelliot mentioned above.

[2020-06-09 21:36] mDuo13 commented on #3394
I'm supportive of this as well. Seems like the `delivered_amount` in the `ledger` command thing is closely related to #3431 as well.

[2020-06-12 22:40] mDuo13 opened #3452 "Remove CryptoConditionsSuite stub amendment"
## Issue Description
The [CryptoConditionsSuite amendment](https://github.com/ripple/rippled/blob/develop/src/ripple/protocol/Feature.h#L86) is not fully implemented but it is listed in the code as an amendment that can be enabled. There should not be stub amendments in production releases, for several reasons, including:

- If later versions introduce a full version of the same amendment, earlier

[2020-06-13 00:13] MarkusTeufelberger commented on #3452
This amendment is HIGHLY popular amongst non-Ripple validators (26 vote for including it right now, 10 against): https://xrpscan.com/amendment/86E83A7D2ECE3AD5FA87AB2195AE015C950469ABF0B72EAACED318F74886AE90

In fact, only 5 entities on the default UNL are voting against it and it is only vetoed because Ripple has more than one vote at the moment.

If the numbers were reversed (only a few entities

[2020-06-13 01:30] mDuo13 commented on #3452
I believe that the widespread support for this amendment is probably due to a misconception, stemming from validators trusting that Ripple would not put an unfinished amendment into a release branch. Unfortunately, in this case, the truth is that this amendment is a stub and it almost certainly does not do what they think it does.

They may be reading [the description on the Known Amendments page]

[2020-06-13 02:08] nbougalis commented on #3452
I agree: the amendment is basically a stub, left-over because of legacy considerations. It really should be removed from the code base entirely to avoid accidental activation. If and when further cryptoconditions are implemented, they should each be on different amendments.

[2020-06-13 08:46] MarkusTeufelberger commented on #3452
This would indicate that the recommended validators either don't even know how to configure their votes or that their votes on this matter (the amendment is 3(!) votes away from passing) are meaningless for `rippled` developers. Both not very nice things to have. Personally I'd like to see explicit voting first before dropping widely supported amendments to see how widely supported they actually a

[2020-06-15 16:04] seelabs commented on #3452
If we do want to do this I created a PR here: https://github.com/ripple/rippled/pull/3453

[2020-06-15 18:43] carlhua commented on #3350
WIll not work - based on the prototype, the existing build process is more flexible and we will stick with externalproject_add

[2020-06-15 18:43] #3350 closed

[2020-06-18 18:23] miguelportilla opened #3455 "[Title with short description] (Version: [rippled version])"
**From Node Store to Shards**

Upcoming enhancements and new features will allow rippled to use shards instead of the node store as the primary database. Because shards offer many advantages over the node store, most operators eventually will prefer to use it as the sole database. But transitioning users from the node store to primarily using shards will likely span several releases and the transi

[2020-06-18 18:28] miguelportilla commented on #3455
@MarkusTeufelberger this is an area you are very familiar with. I'd love to hear your thoughts on the matter. Thanks.

[2020-06-19 10:57] Neyromancer commented on #3431
Hi I could try to fix it.

[2020-06-22 23:39] mDuo13 commented on #3455
This makes sense to me.

[2020-06-23 09:38] alloyxrp opened #3457 "Create repositories for latest Ubuntu and Debian versions"
Repositories for Ubuntu 20.04 (focal) and Debian 10 (buster) do not exist as of now. New installations may want to use these LTS releases as the base OS.

[2020-06-23 18:46] manojsdoshi commented on #3457
@alloyxrp we have packages available for both Ubuntu 20.04 (focal) and Debian 10 (buster). We are updating our docs to reflect that.

**To install nightly builds on focal follow these step:**

apt -y update && apt -y install apt-transport-https ca-certificates wget gnupg
wget -q -O - "https://repos.ripple.com/repos/api/gpg/key/public" | apt-key add -
echo "deb https://repos.ripple.com/repos/ripple

[2020-06-23 18:49] alloyxrp commented on #3457
Why nightly? And not stable.

[2020-06-23 18:54] manojsdoshi commented on #3457
@alloyxrp I believe 1.5 was released before (or in the same timeframe as) Ubuntu 20.04 (focal) so we don't have 1.5 packages for 1.5 it.

[2020-06-23 18:56] alloyxrp commented on #3457
Thanks. So I presume that stable will be available for 1.6?

[2020-06-23 18:58] manojsdoshi commented on #3457
Yes, stable will be available for 1.6?

[2020-06-23 18:58] #3457 closed

[2020-06-23 18:59] alloyxrp commented on #3457
Great. However, I don't think it's a good idea to update docs till stable is available.

[2020-06-24 02:41] nbougalis commented on #3452
I suspect that a large number of validator operators don't take active stances on amendments and rely, instead, on the default behavior: vote in support of all amendments a server understands.

Sure. This change doesn't affect any such implementations at all. In fact, even if this amendment activated, the behavior of the code would not change:

**EscrowCreate.cpp**:

[code]

The existing implement

[2020-06-24 03:13] seelabs commented on #3452
I vote to remove the amendment from the code base. Right now, enabling the amendment doesn't enable any new behavior. Since it's already shipped, if we (or someone in the community) did merge a cryptoconditions implementation, that implementation would need a new amendment anyway. It it didn't we'd have some systems where the amendment would be on with an empty implementation and some with a real

[2020-06-24 03:37] gnurag commented on #3452
From anecdotal evidence I believe a lot of validators auto-update `rippled`, and therefore auto-vote in favor of new amendments from day 0. At this point I would take the popularity of amendments measured by votes with a pinch of salt. My thoughts on `CryptoConditionsSuite` are:

1. Remove `CryptoConditionsSuite` amendment code. If its unimplemented, it shouldn't be shipped and definitely shouldn'

[2020-06-24 06:19] alloyxrp commented on #3452
As one of the validators who is vetoing this amendment, I would agree that removing it makes sense. As has been pointed out earlier, most auto updating validators passively accept amendments .

[2020-06-28 07:48] alloyxrp opened #3464 "Allow importing of peer_reservations"
The `rippled peer_reservations_list` command can be piped to a JSON file. For large hubs that may need to either reinstall or deploy additional infrastructure, this could run into a significant number of reservations.

Requesting the addition of a complementary command `rippled peer_reservations_import < file.json` . This will greatly ease the work flow on a hub, and eliminate manual addition.

[2020-06-28 11:38] MarkusTeufelberger commented on #3464
Wouldn't you just set these in the `[ips_fixed]` section in the config file? Or rather: Maybe peer reservations should be added to the config file instead of being defined at runtime? On the other hand, you can just write something with `jq` and `curl` yourself that adds these reservations regularly. Importing them from a file at runtime sounds a bit like an anti-pattern to me.

[2020-06-28 11:41] alloyxrp commented on #3464
Defining in the config may not be possible, since it would require a restart for every addition. This is mainly of interest to large hubs.  You are correct, it can be done via external code.

[2020-06-28 14:21] MarkusTeufelberger commented on #3464
Well, you need to/should restart every once in a while anyways. Between restarts you could just enter the peer keys in your config and add them to the online node, so at the next restart it would automatically get applied. A "reload config" functionality would of course be great too, but a restart already is fast and easy enough to do.

[2020-06-28 14:28] alloyxrp commented on #3464
Of course I do. But restarting a bootstrap pool of hubs is a planned and lengthy process. In excess of 400 peers connect to them. So, I need to have coherent ways of doing it without restarting. And replicating across the servers in the pool.
Anyway, your point is taken, and I will loop and do it externally.

[2020-06-28 14:34] alloyxrp commented on #3464
Since there seem to be alternative methods which I can pursue, I will close this issue now.

[2020-06-28 14:34] #3464 closed

[2020-06-30 12:16] carlhua opened #3466 "Refactor TrustSet transactor"
## Summary

Refactor the TrustSet transactor:
1) If the line doesn't exist, create it in the default state (unless the account can't pay the reserve, in which case tec).
2) Set the line as requested.
3) See whether the line should be charged to the account that sent this transaction.
4) If no and we created the line, tec.
5) If no and we didn't create the line, make sure it's not charged, and tes.

[2020-06-30 12:20] carlhua opened #3467 "Get rid of old account_tx call"
Because the old account_tx semantics still appear to work, developers may use them and get unexpected results. Worse, this can make the new semantics appear not to work because the old semantics are selected inadvertently. The old semantics are known to be broken and have been deprecated.

The old semantics still appear in several places:
https://github.com/ripple/ripple-rest/blob/develop/api/paym

[2020-06-30 12:24] carlhua opened #3468 "Delivered_amount updates needed"
Two issues with delivered_amount:

1) If you request a ledger with expanded transactions, delivered_amount is not included. It should be.
2) For ledgers before the cutoff, we should not report delivered_amount as unknown if the partial payment flag isn't set – the payment must have delivered the full amount.
3) Do a sanity check on all other areas that should have delivered_amount - and fix any mi

[2020-06-30 12:25] carlhua opened #3469 "Broadcast stuck transactions more often"
Currently, the HashRouter has a single expiration of 5 minutes for both lifetime and rebroadcast / relay. Because there is usually no reason for a transaction to stay in the open ledger for more than one or two ledgers, this allows "stuck" transactions to sit around for way too long.  If a valid transaction does manage to get “stuck” on a single or small subset of non-UNL nodes, it would be helpfu

[2020-06-30 12:27] carlhua opened #3470 "Validator List Expiration Improvements"
Some proposed improvements to internal behavior when our validator list has expired:

1. Make sure that the server generates an event log at FATAL and enters a fail-safe mode so as to not provide incorrect or outdated information; client queries should fail gracefully. (similar to amendment blocking - but needs more investigation)
2. Avoid processing any transactions received from peers, so as to

[2020-06-30 12:29] carlhua opened #3471 "Augment pathfind to return better codes"
We need granularity into the reason for a "no paths" response to a pathfind request.

There are 2 major factors why "no paths" would be returned.

1) Low hot wallet balance
2) No Market Maker liquidity.

rippled should return 1) low hot wallet balance, 2) no market maker liquidity or 3) both when "no paths" is returned.

This would provide more insights to as why no paths was found.

Exported from

[2020-06-30 12:32] carlhua opened #3472 "Avoid sending duplicate messages in book transaction stream: websockets"
Users see duplicate transaction messages (same exact message), often over 100ms apart There will be warnings from the book builder, as effects on meta data nodes (CreatedNode, ModifiedNode, DeletedNode) are applied when the message is received, and the subsequent duplicate message will fail with an error like offer already removed or offer already exists.

[jsonconvo.txt](https://github.com/ripple

[2020-06-30 12:33] carlhua opened #3473 "Change the JSONRPCClient to use the error_code interfaces"
We should change the `JSONRPCClient` to use the `error_code` interfaces instead of the ones that throw.

This way we can report.

Either that or add a try/catch to it and report that.

Exported from RIPD-1261

[2020-06-30 12:34] carlhua opened #3474 "Fail if no unit tests are run when --unittest is specified"
If rippled is compiled without unit tests, and rippled --unittest is run, the exit code indicates success, and the output is.

0ms, 0 suites, 0 cases, 0 tests total, 0 failures
To prevent this from being overlooked in a CI situation, the exit code should indicate failure. I don't see any need to change the output.

Example: https://travis-ci.org/ximinez/rippled/jobs/159977989#L1006

Exported from

[2020-06-30 12:35] carlhua opened #3475 "Optimize flow unit tests"
The flow unit tests take ~20 seconds to run. Profile these tests, and look into speeding them up.

Exported from RIPD-1408

[2020-06-30 12:37] carlhua opened #3476 "Inter-round generic consensus updates"
RCLConsensus, LedgerMaster and NetworkOps still have some rules for managing inter-round changes in the closed and fully validated ledgers. I've tried to repeat them in csf::Peer but it would be better to have them explicitly in the generic consensus code. Particularly, switching to the most supported ledger when starting the next round of consensus. This doesn't favor our current ledger, and has

[2020-06-30 12:39] carlhua opened #3477 "Remove all remnant legacy beast code and replace with Boost."
Per the title, there is still some legacy beast code - we should remove/replace them with Boost beast.

Exported from RIPD-1511

[2020-06-30 12:56] carlhua opened #3478 "Create tests for rotate and delete"
Create tests to confirm that rotation & delete.

Exported from RIPD-516

[2020-06-30 12:57] carlhua opened #3479 "Refactor RPCHandler and helpers into separate classes"
There are huge tables describing our RPC handler calls - in RPCHandler.cpp and .h, RPCCall.cpp and in Main.cpp.

Instead, each type of RPC call should have its own class, which includes its documentation and calling requirements.

Exported from RIPD-297

[2020-06-30 12:58] carlhua opened #3480 "Description of the payment processing algorithm"
We need a plain English description (destined for a README.md file) that describes that algorithm used when processing payments. The description should be high level, but with enough detail that someone who is familiar with the building blocks of rippled could re-implement the payment engine (although it would still be a large undertaking).

Exported from RIPD-244

[2020-06-30 12:59] carlhua opened #3481 "add a beast::Insight::Counter for number of fetch pack requests"
Per the title - add a beast::Insight::Counter for number of fetch pack requests in StatsD.

Exported from RIPD-232

[2020-06-30 13:00] carlhua opened #3482 "Allow Validator operators to designate proxy for amendment votes"
A validator operator would add a validation public key to an [amendment_proxy] config field to mimic the amendment votes of the proxy validator.

Exported from RIPD-1228

[2020-06-30 14:52] ximinez commented on #3474
This also applies when specifying unittest names on the command line. For example:
[code]
That should also be a failure.

[2020-06-30 15:43] cjcobb23 commented on #3479
I am skeptical whether creating a class for each handler is the right approach here. The handlers are fundamentally just functions that take an input and compute an output. This ticket sounds like we need to do something about the several different tables that handle dispatch, and creating classes is a possible solution. I'll investigate more and report back on what I think is the appropriate solu

[2020-06-30 19:31] lathanbritz opened #3484 "Rename Amount Field for Partial Payments."
There are numerous examples and it is event documents in the XRPL docs its self that the "amount" field in a partial payment can cause unexpected results. There also have been numerous documented accounts XRPForensics has provided multiple examples before.

What I would like to suggest although it would be a large undertaking, is renaming the "amount" field to something more descriptive. Like "pos

[2020-06-30 22:21] #3269 closed

[2020-06-30 22:21] #3396 closed

[2020-06-30 22:21] #3321 closed

[2020-07-01 01:23] yxxyun commented on #3484
maybe add a new transaction type “PartialPayment” dedicated to partial payment.
Abandoned the tfPartialPayment flag for payment transaction.

[2020-07-01 06:54] MarkusTeufelberger commented on #3484
A name change would impact the whole ecosystem and a transaction type change could lead to not accepting partial payments because they are rare anyways so not seen worthy to implement. I honestly have very little sympathy for someone implementing something in their closed-source code clearly without reading the documentation (PartialPayments are one of the first items on "How to list XRP as an exc

[2020-07-01 07:36] MarkusTeufelberger commented on #3482
If that proxy validator is down, how would the votes look like?

[2020-07-01 11:02] MarkusTeufelberger commented on #3452
removed in 1.6.0-b8

[2020-07-01 23:45] mDuo13 opened #3486 "load_factor appears to be using wrong units in health check (Version: 1.6.0-b8)"
## Issue Description
While testing the health check method (#3365) with v1.6.0-b8, I've noticed that the `load_factor` number it reports appears to be the [server_state version](https://xrpl.org/server_state.html#response-format) which is relative to to `load_base, but the thresholds appear to be based on the [server_info version](https://xrpl.org/server_info.html) of the metric.

See the [source

[2020-07-02 00:29] nbougalis commented on #3484
One of your recommendations (renaming the `Amount` field) is actually not as simple as it sounds but I do agree that something along those lines _may_ help (although, to be perfectly honest, I think people will _still_ find a way to shoot themselves in the foot).

I explored several possibilities along those lines a couple of years ago. Take a look at these:

https://github.com/nbougalis/rippled/c

[2020-07-02 07:26] RareData commented on #3484
Reading the documentation should be expected of anyone working as a developer for an exchange, but vulnerable exchanges keep popping up and it's time to do something about it.

I prefer: https://github.com/nbougalis/rippled/commit/52d04bfcb0f63ffad58fdd495c036497c78f695c
This would protect new exchanges, while old exchanges could turn it off manually.

Making partial payments off by default would

[2020-07-02 07:37] WietseWind commented on #3484
I think it would be a shame to block receiving partial payments by default. Removing Partial Payments: even a bigger shame. If the problem is that exchanges/devs (who didn't RTFM) look at the "instruction" (being the Amount field) instead of the tx outcome, I'd say renaming the Amount field for partial payments would make most sense to me. That way faulty implementations will simply look at a fiel

[2020-07-02 07:43] RareData commented on #3484
If we don't want to take away its utility, I agree that our best option is to rename the field. `PartialAmount` is a great suggestion.

[2020-07-02 07:52] WietseWind commented on #3484
@RareData Maybe even `UnsafePartialAmount`, so devs not looking at the docs coding a condition to look at Amount and then at the Partial field are warned that it's an Unsafe amount field. If they then STILL credit the full amount...

[2020-07-02 07:56] sublimator commented on #3484
totalitarian nanny coin

[2020-07-02 08:08] MarkusTeufelberger commented on #3484
`PartialAmount` or similar don't really capture the "maximum amount to be transferred" intention here imho, but that's a naming discussion and thus one step further already.

[2020-07-02 08:09] Silkjaer commented on #3484
Speaking to the scope: I've seen 4-5 successful attacks within a month, all on new implementations, but ranging from small to big VASPs. There's a couple of entities constantly probing new implementations, and they often discover implementations faster than they're identified by bithomp, xrpscan, or xrplorer.

Even though it is not a bug/exploit in the XRPL directly, that's not necessarily the way

[2020-07-02 08:12] sublimator commented on #3484
@MarkusTeufelberger
Agreed, I was thinking the same thing. DeliverMax ?

[2020-07-02 08:41] RareData commented on #3484
I'll throw another suggestion into the mix: `PotentialAmount`

[2020-07-02 08:58] MarkusTeufelberger commented on #3484
4-5 successful attacks per month consistently or did just a lot of particularly incompetent players show up recently (who don't even follow basic accounting practices, such as balancing their books...)?

As I already said, the least intrusive way would be to filter out this field and/or replacing it in middleware instead of changing the lowest-level API available.

One of the issues is probably an

[2020-07-02 09:08] RareData commented on #3484
Consistently and surprisingly many big name exchanges/developers/projects.

[2020-07-02 09:13] MarkusTeufelberger commented on #3484
Yet they are not named, not even in this ticket... Maybe a list of these many big name people would help to draw some attention to the issue from people that re-implement something for the nth time in their closed source corporate environment?

[2020-07-02 09:17] Silkjaer commented on #3484
I do not have long-term data at hand, but no, not consistently 4-5 per month. It should, however, be compared to the number of new exchange implementations. I don't think it makes the concern less valid though: many “implementers” do not read the documentation.

I think affected parties can easily be running their own nodes, in which case filtering on public nodes will not have an effect.

[2020-07-02 09:19] RareData commented on #3484
Well, I can name at least [R3's Corda Settler](https://groups.io/g/corda-dev/topic/31748076?p=,,,20,0,0,0::,,,0,0,0,31748076) that I helped patch in 2019. Thomas and Wietse have helped patch numerous others, not sure they can/want to name them publicly.

[2020-07-02 09:27] WietseWind commented on #3484
We tested over 100 exchanges, about half of them were vulnerable and credited the proposed XRP in the `Amount` field to users. Some really big names amongst them. Most of them patched within hours/days. We have a list but I don't feel comfortable sharing that publicly, indeed.

[2020-07-02 09:32] sublimator commented on #3484
woaaaah

ripple is one of those things that even when you're working on it full
time, you can confuse yourself

any efforts to make it simpler/more foolproof (without sacrificing
features) is probably a "Good Thing TM"

[2020-07-02 09:32] MarkusTeufelberger commented on #3484
Then I'm unsure if changing a field and breaking the API for the entire ecosystem would be enough to fix this systemic issue. "Oh, `Amount` is now named `MaxAmount` or whatever on some transactions starting with 1.7.0? Let's just add that..."

[2020-07-03 03:57] lathanbritz commented on #3484
@MarkusTeufelberger can you point me in the direction of that please? "Oh, Amount is now named MaxAmount or whatever on some transactions starting with 1.7.0? Let's just add that..."

Is that a patch some where?

Thank you kindly.

[2020-07-03 12:11] movitto commented on #3484
One additional thing to consider is complexity of XRPL client logic, by renaming this field with a cutoff rippled / ledger version, clients that need to handle historical ledgers will have to have yet another special edge case for before/after this patch is applied.

I feel a flag to block partial payments as implemented in  [nbougalis@52d04bf](https://github.com/nbougalis/rippled/commit/52d04bfcb

[2020-07-03 12:24] Silkjaer commented on #3484
If a partial payment flag is introduced for accounts and it is disabled by default, the entire partial payment feature might just as well be deprecated, in my honest opinion. In many of the cases where partial payments are beneficial, the receiving entity will not be aware that they received a partial payment – this could e.g. be in cases where a regular user is doing a market sell/buy to swap cur

[2020-07-03 12:43] yxxyun commented on #3484
Accounts should be allowed to receive partial payment by default,  just explicit the transaction is partial payment , so I prefer to add "partialpayment" transaction.

[2020-07-03 12:49] movitto commented on #3484
This sounds like a "have your cake and eat it too" situation. If the user wants to leverage partial payments but is not aware of it, they are potentially exposed to the original vulnerability where amount != partial payment amount. By requiring the user to explicitly "opt-in" to partial payments, the feature can be supported but with the explicit authorization of the end-user.

Explicit PartialPay

[2020-07-03 13:13] Silkjaer commented on #3484
The users who are potentially affected by the bad implementation bug is virtual asset service providers that maintain a separate ledger to keep track of their users' funds, where an average user has an account and uses a software or hardware wallet to sign and submit transactions.

The average user will never be directly affected by the vulnerability that arises from not balancing the books and th

[2020-07-03 13:21] yxxyun commented on #3484
well, since partial payment is an edge case of path payment,  so separate it to a new transaction type maybe is not a good idea. but disable it by default also impact the path payment.

[2020-07-03 13:23] WietseWind commented on #3484
That something isn't used a lot today, doesn't mean it will not make a lot of sense if it gets used more often in the future. For `Payment` transactions sending another asset than the asset to be delivered, it makes sense send a Partial Payment to take care of the transfer fees on all used (send/receive) pairs.

[2020-07-03 13:47] movitto commented on #3484
@Silkjaer you bring up a good point about the different classes of users who would be affected by a flag, I agree that 'average' users should not be impacted by any fix here since the Virtual Asset Service Providers (eg exchanges, etc) are the ones affected by the "vulnerability".

Looking at @nbougalis' "BlockPartialPayments" flag patch, it prevents partial payments from being _received_, not pre

[2020-07-03 13:49] WietseWind commented on #3484
@movitto If the default is to block incoming partial payments for all new accounts, that effectively blocks the entire feature, as no one can send it to all those new accounts with the setting enabled and incoming partial payments blocked.

[2020-07-03 14:03] movitto commented on #3484
All in all, perhaps there is another approach that we haven't explored. Instead of a technical solution, perhaps a marketing / publicity solution is in order.

We are trying to figure out a workaround make it impossible or very hard to "mess up" partial payment vulnerabilities, which are the result of improper client implementations and not XRPL itself. That being said the point about the "reputat

[2020-07-03 14:21] movitto commented on #3484
Is there interest in continuing this conversation (and others) via a virtual developer meetup? DNP would be happy to set one up and schedule a zoom call for the near future (perhaps in a few weeks) with a formal agenda, system to submit topics, etc.

[2020-07-03 19:44] MarkusTeufelberger commented on #3484
I much prefer a written format, ideally even in RFC format if something substantial should be changed. Voice/video tends to be more restrictive beyond a handful of people usually and is horrible to document well (also the restriction to live conversations is really not that nice if you're in a different time zone). General discussions, sure - decisions, please no.

[2020-07-05 03:27] lathanbritz commented on #3484
@movitto ~ I do like that suggestion "marketing / publicity solution " as a fallback where by some sort of badge or something could be worked into the solution, possibly even provide some sort of path for validator dev's to provide a service with a badge/stamp of approval.

But Im hoping for some possible work around, where by a "stupid proof" solution could help the ledger it's self far more. Kno

[2020-07-06 13:53] movitto commented on #3484
@MarkusTeufelberger my fear is that the conversation is starting to move in circles, especially with regard to whether or not it would be worth disabling partial payments by default. I agree notes would need to be taken (I'll rope someone in to help us out with that) but often voice / video chat is a much more efficient mechanism to communicate topics / have discussions.

@lathanbritz I like the b

[2020-07-06 18:11] HowardHinnant commented on #3486
Just to clarify, the reported load factor should be `load_factor/load_base`?

And do you have recommendations for warning and critical limits?

[2020-07-06 21:49] mDuo13 commented on #3486
The reported `load_factor` should match the server_info `load_factor`. Which, yes, if you're using the "server_state" definitions, that would be `load_factor / load_base`.

I don't have enough data to make recommendations. Perhaps @mayurbhandary's StatsD collector has enough data? Otherwise, I guess the 100/1000 limits are _probably_ fine as long as `load_factor` is using the server_info definitio

[2020-07-06 22:05] ximinez commented on #3484
Just thinking out loud here: It sounds like we're looking for a way to minimize the effect on folks that have read the documentation and are aware of the issues, and maximize the effect on folks who haven't and are at risk of being exploited. What about this?
1. Define a new account flag, but instead of enable/disable partial payments, it would basically mean "I understand how partial payments wor

[2020-07-08 09:03] sublimator commented on #3484
@ximinez
Sounds reasonable

[2020-07-08 10:45] MarkusTeufelberger commented on #3484
To keep using their existing implementation, everyone(!) that does it correctly needs to send an AccountSet transaction though, right? Also even their correct implementation will break between the time this amendment enables and the transaction is sent (unless there's e.g. a few weeks/months of grace period where you can set the flag but still get the current behavior regardless) if they need the

[2020-07-08 11:10] RareData commented on #3484
There's no need to introduce additional flags. There's already a huge feature set to support by wallets and would introduce a significant lag to e.g. hardware wallets that even here in 2020 only support direct XRP payments (no other transaction types or fields such as memos, yet alone account settings). Simply renaming the field for partial payments (at some level) would be enough.

[2020-07-08 13:05] carlhua opened #3492 "Add "delivered_amount" synthetic field to Escrow and Payment Channel"
For the last couple of years the account_tx RPC command has returned a synthetic field: delivered_amount. That field provides a standard way for gateways to know how much someone's balance changed.

Since then, we've added two new kinds of transactions that can transfer funds: escrow and payment channels. We should delivered_amount to these transaction types.

While we're in there, this may be the

[2020-07-08 13:11] carlhua opened #3493 "Clean up naming in TxQ"
The names used in the TxQ can be confusing, specifically the fee RPC command. Do some renaming in the API, and in the underlying code

median_fee to escalation_base_fee
median_level to escalation_base_level
escalationMultiplier to escalationBaseLevel

exported from RIPD-1470

[2020-07-08 13:16] carlhua opened #3494 "DNS resolution for validator lists"
Validator list site are configured by specifying a URL from which the validator list can be retrieved. The URL can specify either a hostname or an IP address.

If a hostname is specified then we should resolve it every time we need to perform a check against that site; if the resolver response includes a single IP, then we can just use it normally: attempt to connect to that IP and retrieve the li

[2020-07-08 13:23] carlhua opened #3495 "Change mulDiv() return from pair<bool, std::uint64_t> to optional<std::uint64_t>"
The current mulDiv interface is error prone, and it’s easy to ignore when overflow occurs. The suggestion is that we change this interface to use optional in place of pair<boool, value>.

This suggestion should decrease the likelihood of people ignoring overflow. It’s also very convenient to use optional::value_or() as a way to explicitly recover from overflow.

Exported from RIPD-1791

[2020-07-08 13:24] carlhua opened #3496 "tapPREFER_QUEUE flag not exercised by any unit tests"
Here’s the commit that added the flag: https://github.com/ximinez/rippled/commit/62127d725d801641bfaa61dee7d88c95e48820c5 There are no unit tests where this flag is being exercised, including the manual tests.

Considering the tapPREFER_QUEUE flag was added in response to a critical event, I believe we should be exercising the flag during testing. Someone will need to study the code in order to id

[2020-07-08 17:25] ximinez commented on #3484
That is correct.

That's a good point. I think it would be pretty feasible to roll the functionality out in such a way that there would be plenty of time to set that flag. I also think it would be pretty feasible to have some more advanced functionality when returning transactions from before this change. E.g. Perhaps for any "legacy" transactions that don't have that flag in the metadata, look up

[2020-07-08 17:33] ximinez commented on #3493
IMHO, this would definitely be a good case for API versioning.

[2020-07-08 18:53] intelliot commented on #3484
Going back to the original post: I think renaming the `Amount` field, if done in a certain way, should be easier than most of us are assuming.

rippled uses a binary data format. The binary format is the canonical format; JSON is just for convenience. The `Amount` field is currently named as such in the JSON format, but it could be renamed. @thejohnfreeman previously suggested a good, unambiguous

[2020-07-08 19:05] intelliot commented on #3484
Going back to the original post: I think renaming the `Amount` field, if done in a certain way, should be easier than most of us are assuming.

rippled uses a binary data format. The binary format is the canonical format; JSON is just for convenience. The `Amount` field is currently named as such in the JSON format, but it could be renamed. @thejohnfreeman previously suggested an unambiguous name:

[2020-07-08 19:37] kailu18 opened #3497 "Site dropped off validators list"
## Issue Description

After network outage, our site dropped off validator list and can not be found from the URL (https://livenet.xrpl.org/network/validators). The server looks running fine, but it has been in a state of "Tracking" since then.
We also re-validated our site, but our site is still not listed in there. What is the issue? and how to get our site listed in validators list?

+++
 /opt/

[2020-07-08 19:55] ximinez commented on #3484
I like @intelliot's idea. It's a lot simpler, and takes advantage of the API versioning that we finally have available. One thought:
* It's definitely good to document that `Amount` will be deprecated, but remember the whole issue is because of people who don't read the documentation. That makes me wonder, though, how _are_ people learning about the API if they aren't reading the docs. I suspect t

[2020-07-08 20:27] pwang200 commented on #3497
Hello @kailu18 Could you please run a server_info RPC (https://xrpl.org/server_info.html) to collect some information of your server?

[2020-07-08 20:27] mDuo13 commented on #3497
The ["tracking" state](https://xrpl.org/rippled-server-states.html) indicates that your server isn't validating. Not sure if something changed about your config or if the server got stuck in some bugged state.

Can you run some troubleshooting steps like using the [info collection script](https://xrpl.org/diagnosing-problems.html#info-collection-script) to get more details? (Since this is a valida

[2020-07-08 21:38] nbougalis commented on #3484
I appreciate the lively conversation!

I understand and agree that partial payments are useful and it sucks that we have to think about making that functionality less accessible by having a flag and/or a new transaction type simply because implementers are careless.

And while I don't believe we should bubble-wrap the world in an attempt to prevent accidents, I also think that we should consider t

[2020-07-08 21:42] ximinez commented on #3484
I think in this case the percentage of payments with `tfPartialPayment` is less important than the financial impact on those who have implemented it wrong, and the impact on our reputation every time a new "exploit" hits the news.

[2020-07-08 21:43] pwang200 commented on #3497
In addition to the "tracking" state issue, sometimes a validator cannot be reliably seen by the data API used by the validator list site (https://livenet.xrpl.org/network/validators). Because if a validator isn't on an overlay peer's UNL, its validation messages don't get forwarded by this peer. So these messages may or may not reach the rippled node used to monitor the network. This problem shoul

[2020-07-08 21:59] kailu18 commented on #3497
Thanks for your reponse. Below is the server info:
+++
/opt/ripple/bin/rippled server_state
Loading: "/etc/opt/ripple/rippled.cfg"
2020-Jul-08 21:58:00.450134450 HTTPClient:NFO Connecting to 127.0.0.1:5005

{
   "result" : {
      "state" : {
         "amendment_blocked" : true,
         "build_version" : "1.4.0",
         "complete_ledgers" : "56645820-56685330",
         "io_latency_ms" : 1,

[2020-07-08 22:13] kailu18 commented on #3497
Any ideas how to get the site listed in validator list? any information you need me to provide?

[2020-07-08 22:15] #3486 closed

[2020-07-08 22:19] Silkjaer commented on #3484
As for statistics about `tfPartialPayment`, it is tricky to define circular payments, as it appears many of the circular payment accounts are migrating away from “self-payment” and using pairs of accounts to do the pathfinding arbitraging.

I will think about filtering it to fetch some stats of the, in my opinion, intended uses of partial payments.

[2020-07-08 22:54] pwang200 commented on #3497
Let's first make sure the server can advance from the "Tracking" state. See the 3rd line in the server_info reply, `"amendment_blocked" : true`? You need to upgrade to the latest stable release (https://xrpl.org/amendments.html#amendment-blocked).

[2020-07-08 23:53] kailu18 commented on #3497
Thanks. The server had been running fine before network outage. It is weird why the state of "amendment_blocked" become true.
I will upgrade the server from 1.4 to 1.5. Could you please provide how to upgrade? Does the server need to be stopped while upgrading? Does the db need to be backed up (/var/lib/ripple/db)? Will the upgrading overwrite ripple.conf and db files?

[2020-07-09 00:54] kailu18 commented on #3497
The server state is now in a state of "proposing" after upgrading and what should the normal server working state be?
+++
/opt/ripple/bin/rippled server_state
Loading: "/etc/opt/ripple/rippled.cfg"
2020-Jul-09 00:39:56.370735966 UTC HTTPClient:NFO Connecting to 127.0.0.1:5005

{
   "result" : {
      "state" : {
         "build_version" : "1.5.0",
         "complete_ledgers" : "56645820-56687805",

[2020-07-09 01:36] pwang200 commented on #3497
The "proposing" is the normal operating state of a validator. So it is good. I see "xrp-col.anu.edu.au" in https://livenet.xrpl.org/network/validators. Is it your site?

[2020-07-09 02:25] kailu18 commented on #3497
Yay, it is Thanks guys for helps!!

[2020-07-09 02:41] kailu18 commented on #3497
I noticed that some nodes are in a state of "FULL" and does it mean that it is fully loaded? Is it normal? Also, our server node is still in a state of "Proposing" and should it have a state of "sync"?

[2020-07-09 03:26] pwang200 commented on #3497
Here is the definition of [FULL] (https://github.com/ripple/rippled/blob/7b048b423e8ae08a54018a89231d050b9f562855/src/ripple/app/misc/NetworkOPs.h#L73). Basically, it means the server has the latest ledgers and considered in sync with the network.

In the state of Proposing means FULL and configured as a validator (and not amendment_blocked etc).

[2020-07-09 05:57] kailu18 commented on #3497
Is there a script for checking if the web site is listed in here (https://livenet.xrpl.org/network/validators)?

[2020-07-09 07:25] Silkjaer commented on #3484
![image](https://user-images.githubusercontent.com/51490/87009073-f8320580-c1c4-11ea-8a6b-54754369ed50.png)

The increase in partial payments looks to be use of partial payments on regular IOU payments (no `SendMax`) with SOLO from ProBit.com, e.g. `FC86BBCCE5092AA8D15521AAF336B5200247DDC013E2EB7CD38139E912A50966`.

[2020-07-09 10:59] Silkjaer commented on #3484
The more I have looked into the use of partial payments, the more I start to think the XRPL would be better off without it: as long as it is there, it will be misused (in my opinion) for two things:

1. Exploiting bad VASP implementations (we're trying to fix that). This has the least effect on the XRPL itself, as it's just a minor percentage of transactions sent, but it has a bigger impact on the

[2020-07-09 11:50] carlhua opened #3499 "Book subscriptions have taker_pays and taker_gets reversed"
When subscribing to an order book and specifying taker_pays=X and taker_gets=Y, the stream will actually return results for taker_pays=Y and taker_gets=X (e.g. they are reversed). If a snapshot is specified, the snapshot will correctly be for taker_pays=X and taker_gets=Y.

I believe the following code is the culprit: https://github.com/seelabs/rippled/blob/develop/src/ripple/app/ledger/OrderBookD

[2020-07-09 11:56] carlhua opened #3500 "Improve rippled.cfg comments for [node_size]"
Consider updating rippled.cfg comments for [node_size] to better provide guidance to end users.

Recommend 8GB tiny / 16GB small / 24GB medium / 32GB large or huge. That is assuming other processes on the machine consume a negligible amount of memory. Future note, those values will be higher when shards are enabled.

The comments in stock rippled.cfg are far more vague. We should include this usef

[2020-07-09 11:58] carlhua opened #3501 "Improve shard distribution/selection algorithm"
The current algorithm chooses a shard index at random and while this works well, it may produce a U-shaped curve for ledger availability. The following logic will improve distribution. Every server that has shards must make a sane decision whether or not to store the new shard. If M is the number of shards we can hold and N is the number of shards in existence, we replace a random shard with the c

[2020-07-09 12:03] carlhua opened #3502 "Improve serialization of the "FeeSettings" ledger node"
The JSON serialization of the "FeeSettings" ledger node is inconsistent:

[code]
The BaseFee, ReserveBase, and ReserveIncrement should all be integer strings since they represent XRP.

The ReferenceFeeUnits can stay as a JSON number since it's in fee units, not XRP, so it's limited to 32 bits.

Exported from RIPD-1550

[2020-07-09 12:14] carlhua opened #3503 "Return more information about the transaction queue in the server stream"
Some users are subscribing to the `server` stream to get fee escalation information. It would be helpful to them to return some more of the metrics (specifically at least the open ledger count, expected ledger count, queue size, queue limit, and minimum fee) in that subscription so they can compute and predict more about what to pay.

Some user suggestions: https://www.xrpchat.com/topic/9809-quest

[2020-07-09 12:20] carlhua opened #3504 "account_objects is null in some cases"
I noticed at least one case where the `account_objects` array in the response to the `account_objects` method is replaced by the value null when it was expected to contain a real value.

[code]
In this case, the same method returns an empty array if the account actually doesn't own anything, but null if the account should own something (a pending, possibly-expired escrow).

Exported from RIPD-1524

[2020-07-09 12:27] yxxyun commented on #3484
How many payment transactions with paths are set tfPartialPayment?

[2020-07-09 12:29] carlhua opened #3505 "Investigate ProtoFuzz for use with rippled"
Look into how we can use:

https://blog.trailofbits.com/2016/05/18/protofuzz-a-protobuf-fuzzer/

Exported from RIPD-1478

[2020-07-09 12:30] carlhua opened #3506 "Review Peerfinder logging levels"
Peerfinder generates way too many log messages at WRN and ERR level. Most of these can be reduced to INF or DBG. Review and update the logs and assign the appropriate levels.

Exported from RIPD-1413

[2020-07-09 12:31] carlhua opened #3507 "Refactor base_uint SetHex and SetHexExact methods"
SetHex and SetHexExact in base_uint have some overlap and do basically the same thing with different input restrictions. Want to look at merging them into one method if possible. In addition, the design of `base_uint` does not follow best practices. It should mimic the interface of `int` (and its associated free functions in `std::`) [...] something we will eventually want to address.

Exported fr

[2020-07-09 12:34] carlhua opened #3508 "Self-monitor validation performance"
If rippled is configured as a validator, it should monitor its own performance. Currently, we do log cases where build one ledger and later accept a different one as fully validated. But it would really be nice to have statistics on validation performance.

Specifically, we should track:
1) The fraction of ledgers we are not sending validations for
2) The fraction of ledgers we send validators for

[2020-07-09 12:35] carlhua opened #3509 "Remove sync logic from SHAMap class"
Currently, our SHAMap sync logic uses the SHAMap class. This requires the SHAMap class to have a "synching" state and, essentially, two different interfaces (one for synching and one for normal use).

The sync code can be very simple. All it needs to do is verify that nodes are correct, verify that they're in place, and keep track of what nodes still need to be acquired.

We should use a separate

[2020-07-09 12:37] carlhua opened #3510 "Manifest improvements"
Manifest cache is currently saved in wallet.db
It should instead have its own file. - Consider using a different setup, instead of a database. Potentially, a manifest cache folder, where each manifest is a file.

Exported from RIPD-1280

[2020-07-09 12:38] carlhua opened #3511 "Remove "strict" mode Bitcoin address detection"
Numerous commands which handle account addresses support "strict" mode which detects Bitcoin addresses. We should consider removing this support from rippled.

Exported from RIPD-1242

[2020-07-09 12:39] carlhua opened #3512 "API v2 - API input and output should go through JSON schema validation"
Feature request.

The API should have a set of well-defined JSON Schemas that define which input and output values are validly formed. (Ripple Connect and RippleAPI do this already.) All API input should be verified against the schemas, and return an error if the request is not well-formed. Unit tests can use schemas to verify API output, as well.

It would also make documentation and testing much

[2020-07-09 12:40] carlhua opened #3513 "Users would like rippled to return configurable CORS header"
rippled's JSON-RPC API would be very convenient to use from a web app, because it can leverage many of the existing AJAX paradigms and tools. (Existing web apps can use the WebSocket interface, but there's far less tooling around WebSocket.) However, at present, there is no way for a web page in a modern browser to access JSON-RPC without going through a reverse proxy, because same origin policies

[2020-07-09 12:53] carlhua opened #3514 "API v2 - Update responses from ledger_request command"
The ledger_request RPC command has a lot of potential response values, which seem inconsistent.

1. error: lgrNotFound with "acquiring" field.

[code]

2a. Success with details regarding acquiring on top level.

[code]

2b. success with more details regarding acquiring on the top level

[code]

 3. success with ledger header
[code]

Suggested changes:

1. Return success instead of error in the fir

[2020-07-09 12:54] carlhua opened #3515 "Expose TxQ / Fee Escalation metrics to StatsD"
Link to actual comment: https://github.com/ripple/rippled/pull/1354#issuecomment-148292904

Exported from RIPD-1045

[2020-07-09 12:57] carlhua opened #3516 "Expose fetch related settings in config file"
After having issues on my home connection with "drinking from the fire hose" (probably fetch packs being/becoming too large to fetch within the timeout limit?) I started digging in the code and came across these tuning parameters:
https://github.com/ripple/rippled/blob/develop/src/ripple/app/ledger/impl/InboundLedger.cpp

Specifically the enum at the beginning
[code]
It would be nice if these sett

[2020-07-09 13:02] Silkjaer commented on #3484
I used March 13 as a sample for this. Here are the number of payments with paths:

[code]

[2020-07-09 13:19] pwang200 commented on #3497
@mDuo13 @intelliot , is there such script?

[2020-07-09 13:29] pwang200 opened #3517 "server_info RPC should return "server_state" : "amendment_blocked" if the server is amendment_blocked"
When a rippled server is amendment_blocked, the server_info RPC returns "server_state" : "tracking". It should return "server_state" : "amendment_blocked".

[2020-07-09 19:07] MarkusTeufelberger commented on #3512
Maybe even OpenAPI/Swagger definitions?

[2020-07-13 12:50] carlhua opened #3520 "Shallow copying of ZeroCopyOutputStream"
ZeroCopyOutputStream has buffers_type::const_iterator pos_, which points to a place in buffers_.

If you ever copy a ZeroCopyOutputStream, the copy is shallow; destroying the original, means that pos_ in the copy now points to freed memory. I don’t know that we ever do this, but we should protect against this.

See https://github.com/ripple/rippled/blob/develop/src/ripple/overlay/impl/ZeroCopyStre

[2020-07-13 12:59] carlhua opened #3521 "Send correct Connection header in HTTP responses"
Although the HTTP server correctly processes the Keep-Alive header, the HTTPReply() ripple function does a poor job of assembling the correct response. We need to change the implementation to assemble a real set of headers, pass the keep-alive information down through the RPC code, and properly set the Connection field.

HTTPReply should be refactored into a family of functions that operate on a b

[2020-07-13 13:03] carlhua opened #3522 "make forEachItemAfter (previously visitAccountItems) return the hint"
Callers should not be forced to calculate a hint, it should be returned by the forEach function.

Exported from RIPD-923

[2020-07-13 13:05] carlhua opened #3523 "Server should report additional load info to client"
Clients that support multiple server connections would like to have a way to decide which server connection is best able to handle a query. Servers currently "sort of" expose their load as fees, but there's no real exposure of server load in a useful way. Some parameter should be added to the "server" publication stream that clients can just compare across servers to decide which is most likely to

[2020-07-13 13:08] carlhua opened #3524 "Create tests for rotate and delete"
Per the title, create unit tests for rotate and delete.

Exported from RIPD-516

[2020-07-13 13:10] carlhua opened #3525 "If a send max is specified, only path find the sendmax currency"
Currently, if no source currencies are specified, pathfinding will be attempted for all currencies, even if a send_max is specified. All currencies other than the send_max currency will fail. It would save some effort to avoid checking currencies that cannot work.

Exported from RIPD-1142

[2020-07-13 13:13] carlhua opened #3526 "Ensure we have recently relayed parents before relaying children"
When relaying a transaction, consider adding logic to check if there's a prior transaction from the same account (one sequence back) in the open ledger or the queue, make sure we've recently relayed that transaction. If we have, great. (We necessarily relayed its parents too.) But if not, keep going back and relay the whole chain.

Exported from RIPD-1537

[2020-07-13 13:16] carlhua opened #3527 "Inconsistency in reported ledger range and the ledgers stored in the database"
I found a problem extracting a ledger from a client handler--namely, a ledger request for a ledger in the complete_ledgers range came back not found.

Ledger not found: 50336754 when such ledger exists.

Here's the error response (containing the request):
{"error": "lgrNotFound", "error_code": 21, "error_message": "ledgerNotFound", "request":

{"command": "ledger", "expand": true, "ledger_index":

[2020-07-13 13:18] carlhua opened #3528 "Acquire ledger if needed when using --ledger"
If you try to start a rippled with a ledger that you don't have locally, then you get errors looking like this:

../rippled/build/rippled --ledger=6198471
Loading: "/Users/tom/.config/ripple/rippled.cfg"
Application:NFO Loading specified Ledger
Application:FTL No Ledger found?

It'd be nice if --ledger automatically went out to to get enough ledger data to get that requested ledger number - or if

[2020-07-13 13:21] carlhua opened #3529 "NetworkOPsImp::getBookPage "NEW_BOOK_PAGE" needs to be resolved"
There are two instantiations of NetworkOPsImp::getBookPage, one commented out by an #ifdef.

We should either go to the new one, or delete it. Benchmarks should be added prior to making a decision.

Exported FROM RIPD-389

[2020-07-13 13:21] carlhua opened #3530 "Reduce complexity of STAmount class"
The class STAmount is being split into two distinct objects: one dealing with serialization and another dealing with the "amount" business logic.

STAmount contains many convenience wrapper functions which complicate the use of the class and migration to the new code. Reduce the public interface by eliminating wrapper, unused of single-use functions.

Exported from RIPD-867

[2020-07-13 13:23] carlhua opened #3531 "Add protocol close message"
The ripple peer protocol needs a "close" message. This indicates to the receiving peer that no more messages will be sent on the connection. The behavior of a peer upon receiving the close message, should be to close the connection.

This allows the connection to be closed gracefully when session is over.

Exported from RIPD-539

[2020-07-14 12:50] carlhua opened #3533 "Update ledger command to accept string as ledger_index"
Currently, the ledger command only takes int for ledger_index - update the logic to allow string as well.

[2020-07-14 12:55] carlhua opened #3534 "Make getBookPage use new iterators, support paging"
Currently, NetworkOPsImp::getBookPage uses the old order book paging code. There is code to use the new iterators, but it is ifdef'd out. When the code was first tested, poor performance was observed.

Also, this code needs to support some kind of paging to allow clients to look deeper into the order book. This will require completing the implementation of the to/from JSON code in the order book i

[2020-07-14 12:59] carlhua opened #3535 "Improve unit tests for SHAMap, FullBelowCache, and FetchPack"
The SHAMap test could get considerably more creative.
The FullBelowCache doesn't have a unit test.
The body of FetchPack_test::run() is mostly commented out.

In addition, SHAMap is lacking in unit tests. We need to provide full unit test coverage for this class, for all of its current and contemplated use-cases. A good first step is to document the behavior of the member functions, determine inva

[2020-07-14 13:18] carlhua opened #3536 "Charge consumer for failing authentication in RPC"
When a server requires authentication headers in RPC and the client provides the wrong or missing information, the endpoint/consumer needs to be charged (via Resource::Manager).

Exported from RIPD-435

[2020-07-15 08:11] past2017 opened #3537 "[question] how to find if one account's destionaton tag is required"
some xrp account's destionation tag is set to required, so how to get this properties by API? then we can notify user if user withdraw to this address without destination tag
![image](https://user-images.githubusercontent.com/25541244/87520528-a81bdd00-c6b5-11ea-8abb-e27d46fa9364.png)

[2020-07-15 09:48] MarkusTeufelberger commented on #3537
https://xrpl.org/account_info.html --> check the "Flags" --> https://xrpl.org/accountroot.html#accountroot-flags --> `lsfRequireDestTag` (`0x00020000`)

[2020-07-15 11:33] carlhua commented on #3537
@past2017 does this answer your question? I will close the issue if you have no further questions.

[2020-07-15 12:12] carlhua opened #3538 "protocol natvis visualizers"
It would be nice to have MSVC .natvis visualizers for protocol objects like STAmount of STPathSet.

Exported from RIPD-904

[2020-07-15 12:13] carlhua opened #3539 "Revise or deprecate ledger_header command"
The ledger_header admin command provides the ledger header information in JSON and binary formats.

The ledger public command, meanwhile, provides the ledger header information in JSON format only.

Rather than having two commands that overlap so closely in functionality, we should consolidate them. Since it doesn't make sense to retrieve the same information in two different formats at once, the

[2020-07-15 12:16] carlhua opened #3540 "Enhance sync logging and output messages"
We often get reports that rippled "isn't synching" or "is having synch problems". It's frequently unclear whether this means RPC commands are getting an error like "noCurrent", the validated ledger age gets high, the server state changes, or something else entirely.

We should improve our current sync message output with more information and better logging. For example, during sync we should have

[2020-07-15 12:18] carlhua opened #3541 "Better detection of RPC client port"
`setup_Client` could be more intelligent by doing a deeper examination of the available ports and choosing the most suitable one. For example, a port that has the admin property set.

Exported from RIPD-843

[2020-07-15 12:20] carlhua opened #3542 "Soci batch retrieval into scalars is only efficient on Sqlite"
Typical soci code to iterate through rows binds to vectors. This is not needed when using sqlite as a backend because sqlite already caches row results. We can simplify code in ripply by binding into scalar variables instead of vectors. When we use backend other than sqlite we should rewrite the row iteration code to bind to vectors. See: http://soci.sourceforge.net/doc/3.1/statements.html#bulk fo

[2020-07-15 12:23] carlhua opened #3543 "Enhance rippled handling of certificates"
Currently if ssl_verify is set to 1 in rippled.cfg, RPC is running over SSL so users have to configure certificate authorities to include the one that signed their SSL certificate. Otherwise they won't be able to use the command-line rippled. However, RPC commands still might not work because rippled does not know what hostname it should verify. RPC client code could see a correct certificate for

[2020-07-15 12:24] carlhua opened #3544 "Audit RPC commands for validated flag"
We should audit all RPC commands to check if they should return "validated" flag that will be set to true if ledger used to extract the information is validated

Exported from RIPD-590

[2020-07-15 12:25] carlhua opened #3545 "Assess cluster load management"
Investigate how server load is propagated through a cluster. Ensure there is no reliance on cluster topology and that servers relay the latest load information from each server in the cluster to every other server in the cluster. Ensure the way cluster load is assessed and used to adjust the server's relay fee is sensible.

Exported from RIPD-576

[2020-07-15 20:20] carlhua commented on #147
@seelabs can you take a look at this and recommend a path forward?

[2020-07-15 20:20] carlhua commented on #161
@seelabs can you take a look at this and recommend a path forward?

[2020-07-15 20:21] carlhua commented on #219
Closing the issue. We have API versioning implemented. For further enhancement ideas - we can open new issues.

[2020-07-15 20:21] #219 closed

[2020-07-15 21:20] MarkusTeufelberger commented on #219
Can you please give an example on how API versions can actually be reliably used/queried? I don't see any version fields in my responses and did not find any documentation on version differences or even the existence of different API versions.

[2020-07-15 21:45] pwang200 commented on #219
Currently only version 1 is supported. For JSON-RPC, it can be specified in the request.
[code]
For WebSockets RPC:
[code]
If missing from the request, the `api_version` is default to 1.

[2020-07-16 00:02] past2017 commented on #3537
got it,thank you

[2020-07-16 00:02] #3537 closed

[2020-07-17 01:03] movitto commented on #3502
This is a duplicate of #3165

[2020-07-17 01:16] carlhua commented on #3502
Thanks @movitto - closing

[2020-07-17 01:16] #3502 closed

[2020-07-17 11:11] carlhua opened #3547 "Update RPC results to support JSON reviver functions"
See the discussion here:
https://github.com/ripple/rippled/pull/681

It would be helpful to provide reviver function support. This will require API versioning and is a major breaking change for some of our commands. A scrub of our entire RPC output is needed.

Exported from RIPD-670

[2020-07-17 11:16] carlhua opened #3548 "Allow prepublishing of a UNL with a future activation date"
Validator lists currently take immediate effect; that is, as soon as a list with a sequence number greater than the one presently configured is loaded becomes the authoritative list.

Ideally, a validator list should include a new field, tentatively named effective_date, which specifies when the list's validity period should begin.

Servers should be able to track multiple lists from a single sour

[2020-07-17 11:17] carlhua commented on #3548
@ximinez please feel free to update the issue description as needed.

[2020-07-17 11:21] carlhua opened #3549 "Enhance RPC arguments validation"
We need to do for validating RPC inputs what we did for jtx testing. There should be a single validation function taking a variadic argument list that takes a sequence of validation predicates, evaluates them left to right with short circuiting. A failed predicate terminates the validation. The return value of validate offers enough information to report the problem to the caller and the human.

F

[2020-07-17 11:22] carlhua opened #3550 "Remove unused functions from SHAMap"
Need to go through each member function of SHAMap and remove it if it is not called directly or indirectly.

Exported from RIPD-396

[2020-07-17 11:25] carlhua opened #3551 "Fetch packs enhancements"
1. Fetch packs allow rapid update of ledger data between peers. An abbreviated fetch pack further improves resource utilization by omitting the inner nodes in most cases.

2. When "fetch packs" (a representation of partial ledger contents optimized for updating) are calculated it consumes server resources. Caching the results of calculating a fetch pack and keeping it in secondary storage could pr

[2020-07-17 14:18] seelabs opened #3552 "cmake 3.18 incorrectly rebuilds non-stale artifacts (Version: 1.6.0-rc1)"
#3084  Issue Description
Cmake 3.18 is re-compiling and re-linking files that do not need to be rebuilt.

## Steps to Reproduce
Build rippled twice. Make no changes between the first and second build.

## Expected Result
The second build should not recompile or relink any files.

## Actual Result
1. The first build works as expected.
2. The second build relinks.
3. A third build will recompile a l

[2020-07-18 17:45] MarkusTeufelberger commented on #3548
You might want to start looking into using x509 certificates as validator lists with some custom extension to encode the validators contained in that list if you need that many features...

[2020-07-20 19:56] lathanbritz commented on #3484
Heads up looks like the new FTX exchanged just got "tested" with this issue.
The new FTX exchange:  https://xrpscan.com/account/rPFXvVo2fYXVPdV9gCHQouHsMgMhQ2aUwM

Notice the partial payment that just went in there to day.
https://xrpscan.com/tx/957AF5856DF4265AB8A44537B62081D78CA4ECA6FA38F89358883510380A0EA7

0.050426 delivered of the 10,211 XRP ~ will be interesting to monitor if they get nailed

[2020-07-21 14:26] RichardAH opened #3556 "max_transactions (i.e. mempool) should be a config option rather than hardcoded"
https://github.com/ripple/rippled/blob/7b048b423e8ae08a54018a89231d050b9f562855/src/ripple/overlay/impl/PeerImp.cpp#L1510-L1514

Not sure why this isn't a config option already?

[2020-07-21 18:01] gregtatcam commented on #3520
The stream can not be copied by design. It inherits from google's protobuf ZeroCopyOutputStream, which blocks copy constructor:

`GOOGLE_DISALLOW_EVIL_CONSTRUCTORS(ZeroCopyOutputStream);`.

This macro is defined as:

`#define GOOGLE_DISALLOW_EVIL_CONSTRUCTORS(TypeName)    \
  TypeName(const TypeName&);                           \
  void operator=(const TypeName&)`

[2020-07-21 18:02] #3520 closed

[2020-07-21 18:12] nbougalis commented on #3556
It probably should be.

I think it'd be fine to have "hard" limits in the code, and allow server operators to adjust "soft" limits within hard limits. For example:

[code]

[2020-07-22 01:56] mDuo13 commented on #3539
I thought this was done already... Now I'm unsure.

[2020-07-22 18:38] cjcobb23 commented on #3539
I confirmed that 1 is already done.

[2020-07-24 05:33] jc0803kevin commented on #3527
You can use the server_info command to query whether info.complete_ledgers includes the ledger

[2020-07-25 08:06] 362228416 opened #3560 "How do you run a private chain"
## Summary
I want to run my own private network with several nodes maintaining the ledger. What should I do?
## Motivation

## Solution

## Paths Not Taken

[2020-07-27 21:50] ximinez commented on #3560
If you want to use one node just for testing, you can [run rippled in standalone mode](https://xrpl.org/use-stand-alone-mode.html). We also make several [test networks available](https://xrpl.org/parallel-networks.html) available, and [provide instructions](https://xrpl.org/connect-your-rippled-to-the-xrp-test-net.html) for how to connect to them. We do not directly provide support for how to star

[2020-08-01 19:46] nbougalis commented on #3560
@362228416, you would have to use the `--start` and `--quorum` command line arguments, as you spun up the network. There's no good documentation on how to do this at this point.

[2020-08-01 20:02] nbougalis commented on #3497
@kailu18, what do you mean "if the web site is listed in here"? Which website are you referring to? Are you asking if there's a way to see if your **validator** is listed on https://livenet.xrpl.org/network/validators?

[2020-08-02 14:59] 362228416 commented on #3560
I deployed a cluster and only connected internal nodes, but I encountered a problem, that is, when all nodes stopped and I restarted, the previous data would be lost. What is the reason for this and how to solve it?
@nbougalis
@ximinez

[2020-08-02 15:46] Ghorbanian commented on #3556
I would like to work on this issue if no one else is actively working on it.

[2020-08-02 15:49] carlhua commented on #3556
@Ghorbanian go ahead! Thanks for volunteering!

[2020-08-02 15:49] codetsunami commented on #3556
Cool! Easy fix ... should be easy to get a PR accepted. Clamp on new config value as nik suggested.

[2020-08-02 18:04] MarkusTeufelberger commented on #3560
Check out https://github.com/ripple/rippled/blob/7b048b423e8ae08a54018a89231d050b9f562855/cfg/rippled-example.cfg#L622-L633 for example and make sure to read through the other options there as well.

[2020-08-02 19:48] 362228416 commented on #3560
my cfg

[ledger_history]
full

[2020-08-02 19:55] 362228416 commented on #3560
I have two nodes, for example, I run a first, and then run another, and then begin to grow, the books when I stopped one, and then restart, the data is still there, if I stop, both restart data will be lost, node_db directory have data, but the server_info book is empty, is it must have a node can't stop, once stop, can't recover?

[2020-08-03 01:10] MarkusTeufelberger commented on #3560
Depends on how you start the node. Since this is not an issue with `rippled`, maybe discuss this elsewhere?

[2020-08-03 16:25] Godwin1961 commented on #3420
PLEASE WHAT CAN BE DONE ABOUT THIS, THE RIPPLE SENT IS NOT REFLECTING AND IT HAS NOT BE RETRACTED
05C135F5DE71E396373E0D6DE44E77C955A3FCDA3918B72A5246937F0C11EC21
 GO
DESCRIPTIONRAW
STATUS:
This transaction failed with a status code of tecUNFUNDED_PAYMENT, and validated in ledger 57248130 on August 2, 2020 10:52 PM UTC.
DESCRIPTION:
This is a Payment transaction.
The payment is from rHxsZo42NrTq1h

[2020-08-04 20:17] gregtatcam commented on #3533
The ledger command does take strings: `current`, `closed`, `validated`. Here is the doc: [](https://xrpl.org/ledger.html). And the code handling the parsing: [](https://github.com/ripple/rippled/blob/develop/src/ripple/net/impl/RPCCall.cpp#L102).

[2020-08-05 13:57] cjcobb23 commented on #3533
@gregtatcam I think we want to be able to pass strings as numbers, like:
[code]

Currently, this errors out. You have to do this:
[code]

[2020-08-05 14:19] gregtatcam commented on #3533
Got it, thanks.

[2020-08-05 18:41] scottschurr commented on #3533
@carlhua, could you clarify the bug report?  As @gregtatcam reported the three usual strings ("current", "closed", and "validated") are supported.  As far as I can see the documentation does not say that, for example, "5" would be an acceptable replacement for 5.

Do you want to extend the current functionality to include support for "5"?  Would that be a feature request, not a bug report?

Just l

[2020-08-05 21:46] SteelBRS opened #3567 "How to enable Ripple Data API v2 on own peer? (Version: 1.5.0)"
I've been reading the documentation, but after some experimentation I've been unable to get this working.
I gives bad request when I try against a port configured with `http` ... but http means JSON-RPC ... how do I enable REST?

`http://<serverIP>:<port>/v2/accounts/<account>/orders`

[2020-08-05 21:56] MarkusTeufelberger commented on #3567
This is the wrong repository for this, the data API runs https://github.com/ripple/rippled-historical-database

[2020-08-05 22:40] intelliot commented on #3567
rippled does not provide a REST API. Depending on your use case, [rippled's JSON-RPC API](https://xrpl.org/get-started-with-the-rippled-api.html#json-rpc) may be a good choice.

[2020-08-05 23:04] SteelBRS commented on #3567
Erh ... historical?

I'm requesting the current offers/orders for an account ... doesn't seem like a historical query to me

[2020-08-06 05:47] SteelBRS commented on #3567
Also ... isn't it good practice to call stuff the same? An offer should be called 'offer' also in the ripple data API, and not an order, right?
Or am I missing something?

[2020-08-06 08:03] MarkusTeufelberger commented on #3567
Yes, because that is the repository that hosts the code that runs behind the "data API" - not this repository here.

[2020-08-06 10:08] SteelBRS commented on #3567
Thanks for the info Markus ... it's a fulltime job to answer stuff here, and Ripple doesn't even pay you ... I don't understand :smile:

[2020-08-06 10:09] sublimator commented on #3567
He keeps them honest! :)

[2020-08-06 10:10] SteelBRS commented on #3567
... and I finally stopped bitching and converted my REST call into a JSON-RPC 1.0 post ... in 15 minutes

[2020-08-06 10:12] SteelBRS commented on #3567
@sublimator you were the dude, that created the Java API back in the day, right?
I still don't understand why they dropped that ... doesn't Java still have the largest base of developers?

[2020-08-06 10:19] sublimator commented on #3567
Yeah, that's me!

I was never really a Java dev per se. It started as a weekend project to
learn ripple.
I was the only person who really used it at ripple so it bitrotted when I
left.

I updated a fork once for someone:
https://github.com/sublimator/ripple-lib-java

It's my thinking that they are focused on the XPring SDK now which has a
Java client ?
https://github.com/xpring-eng/xpring4j

It se

[2020-08-06 13:46] cjcobb23 commented on #3567
We added gRPC support to rippled and are building xpring SDKs in a variety of languages using the gRPC requests that are supported by rippled

[2020-08-06 14:47] gregtatcam commented on #3527
What are the steps to reproduce this issue?

[2020-08-06 18:09] carlhua commented on #244
We should formulate a plan for this - how to orchestrate this and where to store the files etc.

[2020-08-06 18:19] carlhua commented on #1257
This is an old issue - closing the issue. There will be significant performance implications to the ledger if implemented. We can open a new issue if needed.

[2020-08-06 18:19] #1257 closed

[2020-08-06 18:20] carlhua commented on #1343
Revisited this - and we feel this would be better implemented outside rippled vs as part of rippled impl. Closing the issue now

[2020-08-06 18:23] carlhua commented on #1965
Closing this - this should be implemented outside of rippled. Perhaps we can consider a service that provides paid pathfinding services.

[2020-08-06 18:23] #1965 closed

[2020-08-06 18:24] carlhua commented on #2046
@ximinez can you check if this is still an issue?

[2020-08-06 18:25] carlhua commented on #2081
@ximinez can you check if this is still an issue?

[2020-08-06 18:26] carlhua commented on #2129
Should not be implemented by rippled - closing this.

[2020-08-06 18:26] #2129 closed

[2020-08-06 18:29] carlhua commented on #2327
@mDuo13 can you take a look at this to see if its purely a documentation or do we need to work this?

[2020-08-06 18:30] carlhua commented on #2396
We are supportive of this feature but it will not be a priority for the team.

[2020-08-06 18:33] nbougalis commented on #2413
I think that we've taken this issue as far as it can go, given the current situation. We may want to improve the handshake in the future to avoid the "hash the finished messages" construct, but it is acceptable for now.

[2020-08-06 18:33] #2413 closed

[2020-08-06 18:37] carlhua commented on #2428
Closing this issue - I think we had a sufficient explanation. If there are additional issues please submit a new ticket.

[2020-08-06 18:37] #2428 closed

[2020-08-06 19:01] MarkusTeufelberger commented on #1343
How could this efficiently be implemented outside `rippled`? This needs direct access to the node store which is only available to a single `rippled` instance. Could you give an outline how something outside `rippled` can do this operation better than `rippled` itself?

[2020-08-06 19:21] cjcobb23 commented on #1343
A version of this command will be implemented as part of the reporting mode project

[2020-08-06 20:21] intelliot commented on #3567
This issue has been resolved. Here's a summary of the answer:

Q: How to enable Ripple Data API v2 on own peer?
A: [Ripple Data API](https://github.com/ripple/rippled-historical-database) is separate from rippled, which is the project that this issue was created in. Running your own instance of the Data API is complicated and usually unnecessary, as you can often retrieve the same data using rippl

[2020-08-06 20:21] #3567 closed

[2020-08-06 21:12] MarkusTeufelberger commented on #244
Once deterministic shards make it in (they seem to be planned to be reverted in 1.60.0-RC2?) this can be done by the community in a decentralized way (BitTorrent, IPFS...). I just don't want to start sharing a full history node database that might contain errors, that's not really verified and that is very hard to replicate - all things that will be solved eventually by deterministic shards.

[2020-08-07 16:33] carlhua opened #3571 "Review all asserts in SHAMap"
Review the usages of all asserts in SHAMap to ensure they are correct.

[2020-08-09 04:06] ThakurRishi opened #3576 "[Ripple not able to use RPC 5005 for server_info] (Version: [rippled 1.5])"
## Issue Description
Ripple can not connect RPC 5005  server_info version 1.5
After immediate restart can connect for about 1 minute and then rippled times out

## Steps to Reproduce
Installed Rippled 1.5 in Amazon ec2 xarlge linux instance
Config is to connect to main net

## Expected Result
curl -X POST --data '{"jsonrpc":"2.0","method":"server_info","params":[],"id":1}'  -H 'content-type: text/

[2020-08-10 09:25] MarkusTeufelberger commented on #2413
Did anything change about the TLS handshake in #3049? This is as much a problem as ever, https://github.com/ripple/rippled/blob/2b448683736398faa4e58d8f386c32356ad1d3c2/src/ripple/overlay/impl/Handshake.cpp#L46-L49 refers to this issue here.

[2020-08-10 15:25] cjcobb23 commented on #1343
@MarkusTeufelberger you can actually implement this outside of `rippled` by parsing transaction metadata. The transaction metadata describes all of the changes between a ledger and the previous one. This method would probably become inefficient when trying to get a diff between two non-consecutive ledgers, but for consecutive ledgers, parsing transaction metadata would describe all ledger changes

[2020-08-10 15:31] cjcobb23 commented on #1343
Reopening this issue as a version of this command is incoming as part of the reporting mode project

[2020-08-12 07:22] mDuo13 commented on #2327
@carlhua I do not know and I can't read the C++ code with enough confidence to find out.

[2020-08-12 20:09] PacoCotera commented on #3497
Related to this, i have a node that if it is not assigned a domain name, it shows up on the validator list, but as soon as I update the domain name, create the TOML file and update the token, it gets dropped of the validator list.

Checking the server info, it is active and proposing in both scenarios, the only difference is non-domain, shows on the validator registry, with domain, it gets dropped

[2020-08-13 22:23] gregtatcam commented on #3527
I tested on thin-client-public-usw2-005; complete ledgers: 57017987-57489327. I tried to fetch 1,000 ledgers down from the top ledger and 1,000 ledgers up from the bottom ledger. All worked fine.

[2020-08-13 22:31] #3527 closed

[2020-08-16 07:02] alloyxrp opened #3586 "Enforce IP limits across a cluster of servers"
Hub pools as zaphod.alloy.ee face the issue of nodes connecting to multiple servers (sometimes all) in the cluster. This blocks valuable slots that could be provided to other nodes. I would ask that this limit either be hard coded, or a configurable value for a cluster.

An example of how high the duplication is on zaphod.alloy.ee:
Total =  1288
Unique =  455

[2020-08-17 21:23] gregtatcam commented on #3504
Created escrow with expiration. `account_objects` returns valid data before and after expiration:
    python3 -c '
    import requests
    import json
    import time

    cmd = """
    {
      "method": "submit",
      "params": [{
        "secret": "snoPBrXtMeMyMHUVTgbuqAfg1SUTb",
        "tx_json": {
            "Account": "rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh",
            "TransactionType": "Pa

[2020-08-17 21:23] #3504 closed

[2020-08-18 07:48] alloyxrp commented on #3586
There also seem to be situations (somewhat rare) of the same public_key across IP addresses. Detection of this across a cluster would also help.

[2020-08-18 19:32] mDuo13 commented on #3533
The main reason I think we'd want to extend the API to handle string integers for ledger indexes as input is that the API in some cases outputs them in that format. The [validations subscription stream](https://xrpl.org/subscribe.html#validations-stream) for example returns ledger indexes as strings. (The [ledger](https://xrpl.org/ledger.html) and [ledger_data](https://xrpl.org/ledger_data.html) c

[2020-08-20 05:20] WietseWind commented on #3371
Hey @seelabs, do you know if this made into 1.6.0 (just released)?

[2020-08-20 13:46] seelabs commented on #3371
@WietseWind No, the patch to fix this has not been merged. Unfortunately, I added this fix to related patch that is problematic for other reasons and didn't make 1.6. When that patch got blocked I should have unbundled the pathfinding fix from the rest of the patch before 1.6 was released. I apologize, as I did say the patch would make 1.6. I'll update this issue once the fix is merged into develo

[2020-08-25 20:05] PacoCotera opened #3592 "[Node dropped from validator list after set_domain and token update] (Version: [1.6.0])"
## Issue Description
A properly working validation node is dropped off the validators list after setting the domain and updating the token, after restart it still conencts to the livenet, is in proposing status, connected to peers, but not shown on any validator list.

## Steps to Reproduce
Have an existing validating node, in proposing status and shown on validator lists at XRPL network explorer

[2020-08-26 05:33] hjmJhon opened #3593 "tecINTERNAL"
when I submit a transaction, an unexpected error occured. The engine_result is 'tecINTERNAL', the engine_result_code is '114', the engine_result_message is 'An internal error has occurred during processing'.

[2020-08-26 07:59] MarkusTeufelberger commented on #3592
Could you explain which "list" you are looking at and where you submitted your "domain verification request"? Could be just a display issue at that list's operator...

[2020-08-26 08:00] MarkusTeufelberger commented on #3593
Could you post the transaction contents (maybe with different accounts, if that's of concern, though it could be something that's specific to some accounts, depending on the problem)?

[2020-08-26 08:17] anhcao142 opened #3594 "telINSUF_FEE_P although I have enough balance (Version: Public mainnet S2)"
Encounter `telINSUF_FEE_P` although my account balance has enough XRP

## Steps to Reproduce
I use `RippleLib` to build the transaction, here is the code:
[code]

## Expected Result
Should be validated in a ledger

## Actual Result
telINSUF_FEE_P

## Environment
Ripple public main net s2: https://s2.ripple.com:51234/

[2020-08-26 09:23] MarkusTeufelberger commented on #3594
Maybe it doesn't have enough XRP after all? Also the server could be overloaded, have you tried on a locally running `rippled`?

[2020-08-26 13:24] PacoCotera commented on #3592
It happens on the two validator lists that I'm aware of:

1) https://xrpcharts.ripple.com/#/validators
2) https://livenet.xrpl.org/network/validators

And as per the instructions on: https://xrpl.org/run-rippled-as-a-validator.html#6-provide-domain-verification

here is the Google Form for the inclusion on ripple.com validator registry

https://docs.google.com/forms/d/e/1FAIpQLScszfq7rRLAfArSZtvit

[2020-08-26 16:23] intelliot commented on #3594
What is the value of `[estimateFee]`?

[2020-08-26 19:06] anhcao142 commented on #3594
`12 drop` here is the log of the error, I have removed all the sensitive info:

[code]

Actually, it happens again with me today, it still logs this error, but this time, after a while the tx is validated in a ledger.

[2020-08-26 22:08] ximinez commented on #3594
There are a few different ways a transaction can get a `telINSUF_FEE_P` provisional result, but the most likely is that the fee is that the particular node was experiencing high load, and thus the local load factor was elevated. This local load factor is applied to the ledger's minimum required fee (10 drops, assuming it's a typical single signed transaction) to get the minimum local fee. For exam

[2020-08-27 14:24] cjcobb23 commented on #3245
Why don't we just not omit any fields? This seems a lot simpler to me than.

[2020-08-27 14:48] cjcobb23 opened #3596 "Implement Ledger RPC via gRPC"
The gRPC API is supposed to provide a minimal, yet useful subset of the JSON API. As of the time of writing, gRPC supports `fee`, `submit`, `account_info`, `tx` and `account_tx`. These methods cover many use cases. However, the gRPC API is missing `ledger`, which is one of the most used (and most useful) RPCs; it's absence is particularly cumbersome for anyone using the gRPC API.

Implementing `le

[2020-08-28 07:00] nbougalis commented on #3592
This is a known issue with the manifest processing code. We've identified a fix and it will be deployed soon.

[2020-08-28 08:02] nbougalis commented on #3556
I believe this has already been handled by @natenichols in #3562.

[2020-08-28 17:33] nbougalis commented on #3366
My preference would be to deprecate the configuration section entirely and migrate to only using the command-line API. Specifically what I propose is:

1. On startup, parse the configuration file.
2. If the `[veto_amendments]` section is present, check if the `AMENDMENTS` table is present in `wallet.db`.
3. If it is not, create the `AMENDMENTS` table and transfer the settings from the config file.

[2020-08-28 19:41] ximinez commented on #3366
How feasible would it be to add an option to the `features` RPC that outputs the commands that could be used to reproduce the local config?

[2020-08-28 19:42] Digifin commented on #3366
That makes sense Nik. Is there any reason to have 2 methods of voting anyway, as you would need to resart using the rippled.cfg anyway, its more straightforward to have just the feature request method. Is there not anyway to make that a more permanent persistant method, in case of an unplanned restart.

[2020-08-29 00:14] MarkusTeufelberger commented on #3366
If this area is to be refactored, I'd rather have a "vote for" and a "vote against" section in the `validators_file` that is the only source for amendment and fee votes - no built in lists of amendments to automatically vote for/against, recommended default fee settings or API calls to change votes at runtime.

Creating/updating such a file (if REALLY necessary, even with values that Ripple would

[2020-08-29 03:54] intelliot commented on #3099
1. [`validator_info`](https://xrpl.org/validator_info.html) has been implemented
2. [`manifest`](https://xrpl.org/manifest.html) has been implemented*

*(`manifest` was implemented as an admin-only command, but I think it would be fine to make it public)

I'm not certain of the status of the command line feature idea, but if it is still needed, we should create a new issue for it. The title of thi

[2020-08-29 03:54] #3099 closed

[2020-08-31 15:13] ximinez commented on #3366
The problem with any approach that attempts to remove defaults is that the way amendments currently work, there is no such thing as a vote to abstain. If you're not voting, you're voting no.

It's possible in principal to add such functionality, and that would be fine to start a discussion about, but I think that discussion is beyond the scope of this proposed change, though if you disagree with m

[2020-08-31 15:17] MarkusTeufelberger commented on #3366
Well, the server simply wouldn't start if there's no vote configured for all possible amendments, so there's no way to not vote if you're validating. The default vote recommended by the Ripple team would be visible in the `validators.txt` file, similar to the current default validator list from `vl.ripple.com`.

[2020-09-01 06:56] dragoonduel opened #3598 "[transaction not validated ] (Version: 1.6)"
## Issue Description

unable to get xrp transactions validated through a node connected to the testnet which i do not understand why. the transaction is sent out via the admin port which is port 5005 at default.

## Steps to Reproduce

setup a node connecting to test net. below is the server_info details
`{
   "result" : {
      "info" : {
         "build_version" : "1.6.0",
         "complete_led

[2020-09-02 00:41] ximinez opened #3600 "Unit test jobs: Crashed processes should be counted as "failed" (Version: 1.6.0)"
## Summary
If a subprocess crashes when running multiple unit tests using the `--unittest-jobs` argument, no results are reported to the main "runner". This results in output that looks like:
[code]

## Motivation
Obviously something failed, but the summary message doesn't indicate that.

## Solution
Include the number of possible crashed suites in the summary, so the example output would look lik

[2020-09-02 19:14] WietseWind commented on #3366
Another idea: what if the API would be replaced by an API that reloads certain sections from the config? Allowing one to update the config file and then issue a config section reload (where only certain sections are eligible for reload through API)

[2020-09-02 21:59] MarkusTeufelberger commented on #3366
Restarting the program and getting back to sync should be fast enough, but a config-reload API would also be a nice thing to have even for other reasons (cluster settings for example).

[2020-09-02 22:19] scottschurr commented on #3366
FWIW, I also think that an API that does a partial reload of the config makes a lot of sense for this problem.  It may be applicable to other problems as well.

[2020-09-03 17:42] ximinez commented on #2046
This appears to still be an issue in rippled 1.6.0 with Pop OS / Ubuntu 20.04.

[2020-09-03 17:43] ximinez commented on #2081
This appears to still be an issue in rippled 1.6.0 with Pop OS / Ubuntu 20.04.

[2020-09-08 14:54] RichardAH opened #3601 "tec-failed tx continues to be retried in subsequent ledgers (Version: 1.6.0)"
## Issue Description
When applying a transaction to a ledger that fails with a TEC code the transaction should be discarded but is being held and retried until retry limit is reached.

(Not sure if this is a bug or if I'm misunderstanding some internal process.)

## Steps to Reproduce
Add
[code]
as the first line of
[code]
in *ripple/app/tx/impl/applySteps.cpp*
This will cause every transaction ri

[2020-09-08 15:09] gopherine commented on #2998
I get the same error , the first time it ran all good, but as soon as i restarted the service i kept getting same error,. i installed rippled on default settings. Just to test as mentioned in the docs i did reset db also uninstalled and reinstalled it, but the error does not seem to go away not sure what could be the reason

[2020-09-08 15:45] ximinez commented on #3601
To make a long story short, that's because the transaction didn't actually get added to a ledger.

Every transaction submitted locally is added to a "local transactions" object, regardless of the result. https://github.com/ripple/rippled/blob/develop/src/ripple/app/misc/NetworkOPs.cpp#L1422-L1428

After every ledger close, the transactions in that object are checked against the ledger. Any that ar

[2020-09-08 15:45] #3601 closed

[2020-09-08 17:03] #3494 closed

[2020-09-08 17:03] #3533 closed

[2020-09-08 17:03] #3392 closed

[2020-09-08 17:03] #3556 closed

[2020-09-08 17:03] #3550 closed

[2020-09-08 18:38] gituser commented on #2998
@gopherine, make sure you're running latest `rippled v1.6.0`

[2020-09-11 19:09] intelliot commented on #3497
This is due to a bug in the ETL that populates the data shown on the Explorer (livenet.xrpl.org). Specifically, when doing manifest signature verification, it fails to consider the Domain field.

@PacoCotera We just deployed a change that may fix the issue. Could you try again?

[2020-09-11 20:19] intelliot opened #3605 "rippled.cfg [amendments] stanza does not behave as documented (Version: 1.6.0)"
## Issue Description

In the config file `rippled.cfg` the `[amendments]` stanza does not behave as documented.

The [documentation](https://xrpl.org/amendments.html#configuring-amendment-voting) says: "Use the [amendments] stanza to list amendments you want to vote for."

But the code says: "Use the [amendments] stanza to set the amendments that are considered to be already enabled."

From `./src

[2020-09-12 10:59] gituser opened #3606 "Rippled crash ripple::Keylet::check (Version: 1.6.0)"
## Issue Description
`rippled v1.6.0` for some reason crashed on the mainnet. I do not see any OOM related messages in the dmesg.

The VM where rippled is run has 32 GB of RAM. It's running on NVME drives.

## Configuration
rippled.cfg:
[code]

## Expected Result

## Actual Result

## Environment

[code]
Ubuntu 18.04.3 LTS

## Supporting Files

[code]

[2020-09-12 11:04] gituser commented on #3606
I've got a crash on 3 separate rippled nodes simultaneously.

Both are v1.6.0. Is it a bug affecting all v1.6.0 versions?

Ping @mellery451 @ximinez @nbougalis @seelabs

[2020-09-12 11:16] gituser commented on #3606
It seems there is a fix in `develop` branch If I'm right?

https://github.com/ripple/rippled/commit/ab9f3fa42aed39477a8a9d27c46830ada9ab890a

[2020-09-12 15:27] seelabs commented on #3606
@gituser Thanks for reporting this issue!

We take crashes very seriously. In this case, the problem is an `assert` is triggering. `asserts` are normally disabled in production code. They turned on only in debug builds or by explicitly turning them in in release builds. Since the vast majority of servers are safe from this error, I think it's OK to wait for the fix to land in the next release rath

[2020-09-12 15:36] gituser commented on #3606
@seelabs so I guess it's because I have in my compilation build script this:
`cmake -DCMAKE_BUILD_TYPE=Release -Dstatic=True -Dassert=On ../..`

Guess I need to remove `-Dassert=On` and recompile rippled for now.

[2020-09-12 15:39] #3606 closed

[2020-09-12 15:41] seelabs commented on #3606
@gituser Yes, removing that `-Dassert=On` will fix things in the meantime.

[2020-09-14 19:07] PacoCotera commented on #3497
Hi,

Yes, the validator, with the updated manifest with set_domain is back on
the list and tracking the ledger number correctly in real time. The domain
name, however, is not shown

public key: nHU65ddi4kPdNvdbqQMzvtaosAdcrLtSyTrFox9LTyZDFkVEkDU8

On Fri, Sep 11, 2020 at 2:09 PM Elliot Lee <notifications@github.com> wrote:

[2020-09-16 19:36] nbougalis commented on #2449
The documentation has been updated with #3049. I believe that this issue no longer applies. If you still feel it does, please create a new issue. Thanks. :vulcan_salute:

[2020-09-16 19:36] #2449 closed

[2020-09-16 19:54] carlhua commented on #2460
Consider this for API v2

[2020-09-16 19:58] nbougalis commented on #2516
It looks like `dirDelete` has been removed from the codebase, so we only need to do half the work: `dirAdd` needs to go away.

[2020-09-16 20:05] carlhua commented on #2534
This is an interesting proposal but not actionable as is. We very much welcome an actual proposal on the specific details. I am closing this issue for now, and we can always open a new one referencing this issue.

[2020-09-16 20:05] #2534 closed

[2020-09-16 20:07] carlhua commented on #2598
Consider this for API v2

[2020-09-16 20:10] carlhua commented on #2599
Consider this for API v2

[2020-09-16 20:22] carlhua commented on #2610
We should consider a validation only mode going that builds on top of the reporting mode.

[2020-09-16 20:23] carlhua commented on #2615
Re-evaluate the action items listed in this issue.

[2020-09-16 20:25] #2622 closed

[2020-09-16 20:28] carlhua commented on #2625
@MarkusTeufelberger can we close this issue? Also we welcome your feedback with https://github.com/ripple/rippled/issues/3455

[2020-09-17 09:31] MarkusTeufelberger commented on #2625
I guess it can be closed, maybe @mDuo13 might want to look over this here and see if it is covered in the documentation by now.

[2020-09-17 09:31] #2625 closed

[2020-09-17 10:39] MarkusTeufelberger commented on #3455
Personally I'd really love to first make sure that shards are fully deterministic, so instead of sending around small fetch_packs of historic data, servers can start sharing whole shard databases with confidence that they are complete and unmodified.

More recent history (the "current" and probably also the "previous" shard until its contents have been rewritten to a deterministic one) would still

[2020-09-17 15:03] miguelportilla commented on #3455
@MarkusTeufelberger thank you for your comments, I appreciate your input. There are several tasks being worked on that will need to be completed before the transition from node store to shard store can begin. One of those tasks is deterministic shards and another is the improved algorithm used to select what shard history to acquire (if any) along with the current and previous shards. These buildi

[2020-09-17 15:47] MarkusTeufelberger commented on #3455
Yeah, I hope that the amount of history that's available throughout the network will increase quite substantially with these changes. :-)

[2020-09-17 17:26] tlongwell-ripple opened #3611 "Move manifest API call to the public API"
## Summary
Move the Manifest call (https://xrpl.org/manifest.html) from the admin API to the public API

## Motivation
This endpoint is used by the XRPL Explorer application. By moving the Manifest endpoint to the public API, it will be easier and safer to run the explorer since it will not require admin API access to a rippled node.

[2020-09-22 10:35] hjmJhon commented on #3593
the submit is "{"method":"submit","params":[{"tx_blob":"1200072280000000240000000664400000000098968065D505B102B0EE20000000000000000000000000005553540000000000B5D7ED345A6D5A7AE12EB41519FB53CCF74632806840000000000003E873210299C534B8DD311AEDDA7000B9D020D95B04373CA640688E747ECC8BDD4D0FF46D744630440220060316FB8EE2F6F4DAAE5372259F0DFAB387CD622DFCB49607C9F9499ACA31F70220251972982A6B8254957B1963ECAD991663

[2020-09-22 13:58] cjcobb23 commented on #3593
Are you submitting a transaction to your own rippled node?

[2020-09-22 14:08] carlhua commented on #3455
@MarkusTeufelberger great feedback! Its always refreshing to get feedback from the community. I do have some questions that I hope you can provide input to:

1. Do you have any suggestions on how we transition a node store user to use shard store only? If tomorrow we have shards completed, what would be the transition look like? We have some ideas but would be great to hear from you.

2. Any sugge

[2020-09-22 14:32] carlhua opened #3614 "Expand the manifest to indicate what network the validator is validating on (Version: 1.6.0)"
## Summary

Consider expanding the manifest so that the validators can indicate what network they are validating on. For example, "Mainnet", "Testnet" or "Devnet".

[2020-09-22 14:55] MarkusTeufelberger commented on #3455
My node store was migrated from hyperleveldb to rocksdb to nudb already, I guess migrating it to deterministic shards would be similar.

UX wise this will be a several day job for people with full history most likely, so having some indication of progress would be nice - OTOH there are only maybe a dozen of people and entities anyways out there who keep full history atm, so investing a lot of tool

[2020-09-22 14:57] MarkusTeufelberger commented on #3614
Ideally also/only including the network ID, not just a human readable name.

[2020-09-22 22:41] #3474 closed

[2020-09-22 22:41] #3600 closed

[2020-09-27 18:23] nbougalis commented on #3614
The manifest should contain a `UINT32` that corresponds to the [`network_id` configuration parameter](https://github.com/ripple/rippled/blob/develop/cfg/rippled-example.cfg#L753-L768):

[2020-10-02 16:00] cjcobb23 commented on #3596
There is a version of this implemented as part of the reporting PR: https://github.com/ripple/rippled/pull/3609/files#diff-a14f409d58f17d81bc625cf5ba02a1c6
The response is binary only though

[2020-10-02 16:05] cjcobb23 commented on #1343
@MarkusTeufelberger the ledger_diff command has been implemented as part of the reporting mode PR:
https://github.com/ripple/rippled/pull/3609/files#diff-58fbed39e1be96771899476986dd4e7a
https://github.com/ripple/rippled/pull/3609/files#diff-56c53607eaf52d33be627c11cb0fab01

What do you think? Is this what you were looking for? Can you use gRPC or do you need the output in JSON? gRPC is going to b

[2020-10-08 17:15] ximinez opened #3621 "Log transaction hash wherever available (Version: 1.7.0-b2)"
## Summary

Add the transaction ID to all log messages related to processing the transaction.

## Motivation

When analysing the outcome of processing a particular transaction on the live network, it can be difficult to determine which messages relate to that transaction. Adding the transaction ID will make it possible to `grep` the log file for that string and go from there. This is similar to ho

[2020-10-09 08:27] fredbuluku opened #3622 "[Title with short description] (Version: [rippled version])"
## Issue Description
try to support people from African countries they are lacking facilities to support their efforts to be effective.Also security system maybe a challenge try to simplify things to the users to fix the security and the problems that are affecting them.

Thanks.

## Steps to Reproduce

## Expected Result

## Actual Result

## Environment

## Supporting Files

[2020-10-12 23:12] gregtatcam opened #3624 "Compression handshake is not handled correctly (Version: 1.7.0-b2)"
## Issue Description
If an outbound node has compression enabled and an inbound node does not have compression enabled then the inbound node enabled link compression.

## Steps to Reproduce
Run two nodes. Set compression to enabled in one node's configuration and disabled in another node's configuration.
[compression]
0|1

## Expected Result
Both nodes should flag the link compression disabled.

#

[2020-10-13 04:27] maybeTomorrow opened #3625 "trust line QualityIn in uncontroled (Version: 1.6.0)"
## Summary
i suggest to remove this function

## Motivation
for example ,i want to pay 200 USD to address B,but B set QualityIn=0.5,then i actually pay 400USD to B

[2020-10-13 09:06] maybeTomorrow opened #3626 "Path could not send partial amount(Version: 1.6.0)"
## Issue Description
{ resultCode: 'tecPATH_DRY',
  resultMessage: 'Path could not send partial amount.',
  engine_result: 'tecPATH_DRY',
  engine_result_code: 128,
  engine_result_message: 'Path could not send partial amount.',
  tx_blob: '1200002280000000240000D356201B0000E2C061D4C71AFD498D00000000000000000000000000004D4D45000000000092F62C3415807EC90E64068D3C07539529586A6F68400000000000000069D4C

[2020-10-13 09:07] MarkusTeufelberger commented on #3625
This is intended behavior, how else do you suggest to deal with the problem that some issuances in the same denomination might be worth less to you than others?

[2020-10-13 16:04] cjcobb23 commented on #3552
I confirmed this also works as expected with cmake 3.17

[2020-10-13 19:43] mtrippled opened #3630 "rippled does not produce core files when started with systemd Version: 1.7"
Found on Ubuntu 18.04LTS, rippled does not produce core files when started with systemctl as installed by the deb package.

[2020-10-14 02:57] maybeTomorrow commented on #3625
worth is same to one issuer，i think QualityIn should be use in diffrent issuer,(rippling)

[2020-10-14 08:15] MarkusTeufelberger commented on #3625
No, for example 1 BTC issued by MtGox are worth only 0.02 BTC to me, regardless of the existence of other issuers.

[2020-10-15 12:42] carlhua opened #3633 "noripple_check overwrites "limit" with larger value on non-admin connections"
If you provide a "limit" parameter to the noripple_check RPC command as admin, you can limit the number of results to a relatively small number at a time, like 5. However, as an end-user, this gets overridden and the response includes a fairly large number of results regardless of the limit set by the user.

By default, the limit is overwritten with the tunable minimum limit of 10:
https://github.

[2020-10-15 12:45] carlhua opened #3634 "Calculate levelization and header inclusion"
We need to develop a tool or script that takes a C++ source or header file, and calculates all of the direct and indirect headers it includes. The output can be sorted, then "uniqued."

Once we have this tool we can, on a per-file basis, determine:
1. If levelization is broken
2. If unnecessary includes are present
3. If a surplus of header material is included

The build has gotten a little bit s

[2020-10-15 12:51] carlhua opened #3635 "Shutdown and confusing errors when switching shard settings from NuDB to RocksDB"
I changed my shard store settings to switch to RocksDB, hoping this would stop the LoadMonitor warnings I was getting.
[code]

After:
[code]

(The only thing I changed was the type field.)

After making this change, I tried to start rippled from the commandline. It launched several children, but ultimately all the processes ended and I was left without a rippled process running. The console includ

[2020-10-15 12:57] carlhua opened #3636 "ledger_cleaner should raise an error on invalid params"
The ledger_cleaner command does not perform any parameter checking before calling its [internal routine](https://github.com/ripple/rippled/blob/0b4e34b03b72196510998375fd28622c8b63aaa7/src/ripple/app/ledger/impl/LedgerCleaner.cpp#L166), which interprets the values of each parameter as ints or bools regardless of what value was provided.

This leads to some mildly undesirable behavior.

If a ledger

[2020-10-15 13:01] carlhua opened #3637 "Consider improvements to serialized objects and arrays"
Serialized objects are validated using a lot of ad hoc C++ code. Object templates were an attempt to remove some of that ad hoc code. They help. But we could improve yet further.

- There is no checking for STArrays, which often may only contain one type of object.
- Any optional fields in an STObject must still be checked with ad hoc C++ code.

There are a few things we could do to improve the si

[2020-10-15 13:49] carlhua opened #3638 "Deprecate tx_history RPC call"
The tx_history method of the WebSocket and JSON-RPC APIs is problematic in several ways:

- It lacks the options to specify an account or ledger version to narrow down the results to something specific
- The startIndex field is woefully inadequate for pagination (no control over how many transactions to return) and inconsistent with how we do pagination on other APIs (limit, marker)
The only use t

[2020-10-15 14:15] gregtatcam opened #3639 "Negotiate reduce-relay feature in the HTTP handshake (Version: 1.7.0-b2)"
## Summary
Negotiate reduce-relay feature in the HTTP handshake.

## Motivation
A node with reduce-relay feature enabled will send squelch messages to a peer that might not have reduce-relay feature enabled or have an older software version. This inundates the network with redundant messages and make the algorithm less efficient.

## Solution
Negotiate reduce-relay feature support in the HTTP hand

[2020-10-15 14:34] ximinez commented on #3639
Another path to not take is to make the decision based on protocol version (see also `Peer::supportsFeature`). Protocol versions are tied to the software version, so there's not a huge difference, but it's distinct enough, I wanted to note it anyway. The same reason that makes it impractical for software version - the fact that it can be disabled in configuration - is the reason this path is not v

[2020-10-15 14:43] MarkusTeufelberger commented on #3634
Not a C++ guy, but is https://include-what-you-use.org/ something along these lines?

[2020-10-16 07:53] intelliot commented on #3452
Fixed by #3453 and released in 1.6.0

[2020-10-16 07:53] #3452 closed

[2020-10-16 22:15] mtrippled commented on #3630
The issue here is that systemd has its own configuration for generating core files, documented for each of the major Linux distributions. Since systemd is now the parent of rippled that respawns, systemd now must be configured to generate cores. Pior versions of rippled had rippled itself spawn and re-spawn a child process. I had custom core file configuration in /etc/sysctl.conf that broke with t

[2020-10-17 10:17] MarkusTeufelberger commented on #3630
What exactly do you mean by "core file"? core dumps in case the process crashes?

[2020-10-17 19:09] mtrippled commented on #3630
Yes

[2020-10-20 13:57] gregtatcam opened #3641 "Improve squelching duration calculation in the validation/proposal reduce-relay (Version: 1.7.0-b2)"
## Summary
Make the squelching duration proportional to the the number of peers.

## Motivation
Currently 3 peers are selected as the source of the validation/proposal messages and the rest of the peers are squelched for a random duration of {5,10} minutes. The problem is that if a node has many peers connected, for instance 100, then after initial 5 minutes of 3 connected peers, every 5 seconds a

[2020-10-20 23:47] whotooktwarden commented on #2609
I would like to be able to issue an IOU with the granularity of the IOU set so that you may only purchase whole units of the IOU, no decimal amounts.

[2020-10-21 19:04] carlhua commented on #2733
@intelliot can you take a look at this ticket to see if there is any tooling we can consider contributing?

[2020-10-21 19:05] nbougalis commented on #2746
I believe that this issue has been corrected. It's not unrealistic for this message to pop up periodically. I am going to wait to see if anyone is still experiencing issues, and will close a month from now.

[2020-10-21 19:12] carlhua commented on #2781
This feature is completed - https://github.com/ripple/rippled/pull/3578

[2020-10-21 19:12] #2781 closed

[2020-10-21 19:14] nbougalis commented on #2800
We should reconsider the decision to not save a ledger that is explicitly requested via `ledger_request` in the database.

[2020-10-21 19:16] #2815 closed

[2020-10-21 19:20] nbougalis commented on #2834
We will be migrating to `boost::json` soon.

[2020-10-21 19:20] #2834 closed

[2020-10-21 19:21] nbougalis commented on #2837
This would be nice to have. Anyone wanting to claim this issue, either assign yourself or raise your hand and I'll assign it to you :)

[2020-10-21 19:23] nbougalis commented on #2839
The `Throw<>` helper is used to throw many exceptions, including several that are caught; polluting the logs with that seems counterproductive.

Per the recommendation of @HowardHinnant, we rely on the operating system to print out the details of unhandled exceptions and it can usually do a much better job that we can.

[2020-10-21 19:23] #2839 closed

[2020-10-21 19:27] nbougalis commented on #2868
@HowardHinnant, I know you're working on other things but when you get a chance, we should move forward with this.

[2020-10-21 19:28] nbougalis commented on #2875
Track in #2746

[2020-10-21 19:28] #2875 closed

[2020-10-21 19:30] nbougalis commented on #2877
I'm assigning this to @bachase, who can coordinate with the data team to fix this (if it hasn't been fixed already). Brad, feel free to close this issue if you're tracking it elsewhere.

[2020-10-21 19:40] nbougalis commented on #3042
This has been merged as ec137044a014530263cd3309d81643a5a3c1fdab and the *`RequireFullyCanonicalSig`* amendment was activated with transaction [94D8B158E948148B949CC3C35DD5DC4791D799E1FD5D3CE0E570160EDEF947D3](https://xrpscan.com/tx/94D8B158E948148B949CC3C35DD5DC4791D799E1FD5D3CE0E570160EDEF947D3) on the mainnet.

[2020-10-21 19:40] #3042 closed

[2020-10-21 19:45] #3071 closed

[2020-10-21 20:50] bachase commented on #2877
Per the [reply](https://www.xrpchat.com/topic/30774-transaction-query-filter-by-destination-tag-fails-not-implemented/?tab=comments#comment-683069) on xrpchat, `destination_tag` filtering appears to be working on other queries. Given the age of this request, I'll close this for now.

[2020-10-21 20:50] #2877 closed

[2020-10-22 05:43] ottcsconsult opened #3642 "Successfully validated Offer not listed as as account offer"
Hi All,

I understand this may not be the ideal place to post this issue. However, I didn't find a better place and the xpring forum doesn't have a valid TLS certificate.

I submitted an offer. It was validated and it shows as successful. Yet it never showed up in the order book and it never showed up in method: "account_offers" (JSON RPC). Here is the TX hash:
4718EB82091A2343BA62D57C411D703E8585

[2020-10-22 14:40] ximinez commented on #3642
That transaction was validated in ledger 59000273 and created an Offer node with LedgerIndex 3C50BE47A678593F09C69F89D1A62628FE39A7FA83A652D6DE91FE5C21DEDB73.

In *that same ledger*, there is a payment transaction that consumed the offer. You can see this if you expand AffectedNode with index 1 at https://xrpcharts.ripple.com/#/transactions/59BEC3684D799DEB7AF796E1C8A89919C0BDD98485221D1BD672CA292

[2020-10-22 14:40] #3642 closed

[2020-10-23 06:24] mDuo13 commented on #2733
For the record, I did end up writing [key derivation code](https://github.com/ripple/xrpl-dev-portal/blob/master/content/_code-samples/key-derivation/key_derivation.py) in Python.

There's also the "Xpring" library that @thejohnfreeman wrote, published here: https://pypi.org/project/xpring/

[2020-10-23 18:24] mDuo13 commented on #2868
Didn't we already make changes to add " UTC" to a bunch of the timestamps in the time since this ticket was created? I noticed the difference in `server_info` and in the server logs but I can't remember what release changed it.

[2020-10-23 18:29] HowardHinnant commented on #2868
This would've added "UTC" in many places:  https://github.com/ripple/rippled/commit/ce589225dd5d9fa661007c794fac12c7d2b35b77

I need to survey and see if there are any more places that need attention, but it is likely we can just close this now.

[2020-10-24 03:57] block-hac commented on #2969
** same issue **
I installed rippled on my local machine and I run it.
- machine specs -

System:    Host: blockhac Kernel: 5.4.0-51-generic x86_64 bits: 64 Desktop: Gnome 3.36.4
           Distro: Ubuntu 20.04.1 LTS (Focal Fossa)
CPU:       Topology: 6-Core model: Intel Core i7-8700 bits: 64 type: MT MCP L2 cache: 12.0 MiB
Drives:    Local Storage: total: 1.02 TiB used: 560.97 GiB (53.8%)
Info:

[2020-10-24 06:51] MarkusTeufelberger commented on #2969
This is the log for your application, not the server log. Please open a new issue with the relevant information about your server, not the client that tries to access it.

[2020-10-24 06:58] block-hac commented on #2969
Thanks for the reply.
I faced this error when I attempt to access to local rippled with Ripple API

[2020-10-24 07:06] block-hac commented on #2969
Would you please check if ripple.conf was right written ?

[server]
 port_rpc_admin_local
 port_peer
 port_ws_admin_local
 port_ws_public
 #ssl_key = /etc/ssl/private/server.key
 #ssl_cert = /etc/ssl/certs/server.crt

 [network_id]
0

 [port_rpc_admin_local]
 port = 5005
 ip = 127.0.0.1
 admin = 127.0.0.1
 protocol = http

 [port_peer]
 port = 51235
 ip = 0.0.0.0
 # alternatively, to accept connec

[2020-10-24 16:20] earlobeheard opened #3645 "22321225"
## Issue Description

## Steps to Reproduce

## Expected Result

## Actual Result

## Environment

## Supporting Files

[2020-10-26 03:19] intelliot commented on #3645
looks like an empty issue. assuming this to be a mistake; closing.

[2020-10-26 03:19] #3645 closed

[2020-10-26 22:07] mDuo13 commented on #2800
While we're at it, consider fixing #1873 as well.

[2020-10-27 19:19] jerkiogotdatbag opened #3647 "What do I do if a transaction is Not confirmed on the block chain"
ee1ff02f3d171706308aeca37cfe08760fef7bf9819ba2b0d59adaaf3a51cbec

[2020-10-27 20:28] intelliot commented on #3647
In general, it depends on your use case. The first step is to deduce the likely reason why your transaction was not confirmed. Was it malformed? Was it submitted to a rippled server with good connectivity to the rest of the network? Did it specify a high enough transaction fee? Depending on the likely reason, you may wish to modify your future transactions so that they are more likely to be valida

[2020-10-28 10:36] gopherine opened #3648 "Possible Memory Leak"
## Issue Description
Node-size is not definitive, I suspect a possible memory leak, and  I am not particularly sure why, it is it might be because of Sharding. I created a container earlier with 32 GB of ram and 8 cores- setting node size to medium, history shard enabled. This kept on crashing because of over memory usage- from what I understood medium is supposed to consume 16 GB of memory only.

[2020-10-28 18:12] carlhua commented on #2900
Servers sometimes disconnect, does your script handle all the error cases? If there is an issue with the error messages returned by rippled, please kindly let us know.

[2020-10-28 18:20] carlhua commented on #2928
We should look at the value of `server_state` when it is generated.

[2020-10-28 18:26] carlhua commented on #2961
Closing this issue.

[2020-10-28 18:26] #2961 closed

[2020-10-28 18:29] carlhua commented on #2972
Closing this - I think this can be achieved via other mechanisms.

[2020-10-28 18:29] #2972 closed

[2020-10-28 18:30] carlhua commented on #2985
Sorry, we do not provide full history via S3 at the moment. Shards will be released in the future which will improve this situation.

[2020-10-28 18:30] #2985 closed

[2020-10-28 18:34] carlhua commented on #3009
Issue is fixed in 1.5 - closing.

[2020-10-28 18:34] #3009 closed

[2020-10-28 18:36] carlhua commented on #3017
@mtrippled how confident are you that this is a timing issue? Anything we should do or can we close this?

[2020-10-28 18:36] #3029 closed

[2020-10-28 18:37] carlhua commented on #3033
@miguelportilla do we want to work this?

[2020-10-28 18:40] carlhua commented on #3041
Stale issue - closing

[2020-10-28 18:40] #3041 closed

[2020-10-28 18:43] carlhua commented on #3050
Closing.

[2020-10-28 18:43] #3050 closed

[2020-10-28 18:45] carlhua commented on #3051
This looks like an IO issue - closing. You can always open a new issue if the problem persists.

[2020-10-28 18:45] #3051 closed

[2020-10-28 18:57] #3136 closed

[2020-10-29 07:18] mDuo13 opened #3649 "Suggestion: Change "index" to "id" for ledger objects"
## Summary
Change the fields `index` and `LedgerIndex` to `LedgerEntryID` to reduce confusion about what a "ledger index" means.

## Motivation
"Index" is one of the most confusing terms in understanding the XRP Ledger:

- `ledger_index` is how you specify a particular version of a ledger by its ledger index (also called a "ledger sequence", though I have been phasing out the term "ledger sequence

[2020-10-29 07:27] mDuo13 commented on #3484
For what it's worth, I continue to be supportive of renaming `Amount` field in JSON as @intelliot and others have suggested, though I'm partial to `DeliverMax` because it mirrors `DeliverMin` _and_ `SendMax`. The mere existence of both `DeliverMax` and `SendMax` is likely to make people realize that there _can_ be a difference between the amount "sent" and the amount "delivered".

[2020-10-29 07:36] mDuo13 commented on #3635
Now that the shard store no longer supports RocksDB, this is no longer relevant. Closing.
(I was the reporter of the original issue.)

[2020-10-29 07:36] #3635 closed

[2020-10-29 07:41] mDuo13 commented on #3593
As far as I can tell, the sending account `rLsFr55G8wyyE7moC8Gh4f2vh9hX23gMUk` does not currently exist on Mainnet, Testnet, or Devnet. I'm unable to reproduce from this. @hjmJhon, can you provide any additional information about how you're making this request?

[2020-10-29 07:43] mDuo13 commented on #3514
See also: #1873 and #2800.

[2020-10-29 07:45] mDuo13 commented on #3625
You can only end up sending 400 USD to B if your `SendMax` allows it. This is expected behavior, and you should set `SendMax` accordingly.

[2020-10-29 08:22] mDuo13 commented on #3648
The `node_size` parameter is not a hard limit on memory usage, which is based on network activity and the overall size of the ledger's state data, among other things. That said, it's not impossible that there is a memory leak here. It's worth looking into, and I think also considering more explicit ways of configuring the server's max memory usage.

[2020-10-29 11:11] hjmJhon commented on #3593
Rome Reginelli <notifications@github.com>于2020年10月29日 周四15:41写道：

Sorry，I make the error with myself!

[2020-10-29 14:24] cjcobb23 commented on #3649
What about using `key` instead of `id`? We could use `LedgerEntryKey`, or something like that. key-value is a widely used terminology, is easily understood and accurately describes what's going on here. The ledger is just a map, and maps use the key-value terminology; in the code, we call the ledger a "state map". We also use `key` in the codebase in various places, as well as `Keylet`:
https://gi

[2020-10-29 20:11] #3593 closed

[2020-10-29 20:11] mDuo13 commented on #3649
"Key" kind of makes sense but I worry it would be confused for a cryptographic key...

[2020-10-29 21:08] intelliot commented on #3611
Done in rippled 1.7.0-b2 https://github.com/ripple/rippled/pull/3612

[2020-10-29 21:08] #3611 closed

[2020-10-30 03:24] nbougalis commented on #3092
Removed in commit dbee3f01b7bde4b0b662c

[2020-10-30 03:24] #3092 closed

[2020-10-30 03:28] #3079 closed

[2020-10-30 03:30] nbougalis commented on #3648
I suspect this is caused by the server downloading and indexing a shard, which is expected. Still, @miguelportilla can you (or someone else) please investigate?

[2020-10-30 03:55] nbougalis commented on #3253
Apologies for the delay with this. Are you still encountering deadlock issues?

[2020-10-30 07:13] maybeTomorrow commented on #3625
for example 1 BTC issued by MtGox ,1 BTC can exchange 10 apple in MtGox's store,what ever a or b got 1 BTC

[2020-10-30 09:48] gopherine commented on #3648
This is what I suspect too, but still I assume there as to be an upper limit somewhere, Like I am also running a test node, with node size tiny on 32 GB ram and Sharding at 50 GB but there as well the usage has gone over 44% progressively and still increasing. I started this node yesterday.

For the above today the usage again spiked by 0.6 percent however, as it's increasing the rate of memory sp

[2020-10-30 13:37] alloyxrp opened #3650 "CHANGELOG with packages"
A CHANGELOG that documents changes between releases, and also highlights any new `rippled` configuration values may be useful as a ready reference.

[2020-10-31 07:41] maybeTomorrow opened #3651 "source build got a large exec file(Version: 1.6)"
when i build from source,i got a 800+MB exec file,but i see it's only 44mb by install from yum(centos)

[2020-10-31 08:04] maybeTomorrow commented on #3651
by yum ,ldd rippled
	linux-vdso.so.1 =>  (0x00007ffe735c7000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f912979c000)
	librt.so.1 => /lib64/librt.so.1 (0x00007f9129594000)
	libz.so.1 => /lib64/libz.so.1 (0x00007f912937e000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007f912917a000)
	libm.so.6 => /lib64/libm.so.6 (0x00007f9128e78000)
	libgcc_s.so.1 => /lib64/libgcc_s.so.1 (0x00007f9128c62000)
	l

[2020-10-31 08:22] MarkusTeufelberger commented on #3651
Maybe you did a debug build?

[2020-10-31 08:40] maybeTomorrow commented on #3651
i commond cmake -DCMAKE_BUILD_TYPE= Release ..

[2020-10-31 18:42] nbougalis commented on #3651
I believe the default is to make a **static** build, which would explain this.

[2020-11-02 10:34] gopherine commented on #3648
@mDuo13 From what I understood, history Sharding enables us, to get data from full history without the need to store full history. However, whenever here I try to get the transaction now from the live server it says transaction not found. And maintains only 256 ledger history as mentioned above

[2020-11-02 19:24] mDuo13 commented on #3648
Not quite. Your server only has access to the history in the shards it has downloaded (and its most recent ledger stores). History sharding helps to make overall history available to the network to those who can store it, but there is not currently any mechanism for pulling results "on-demand" from peers in the network.

[2020-11-02 19:54] gopherine commented on #3648
Thanks for response, I am not sure but storing full history does not seem to be a cost-efficient solution for ever-growing ledger, And when querying to the public node, It happens quite sometimes, but we get error 'serverTooBusy'. But however I already see a feature request for the same https://github.com/ripple/rippled/issues/2808

--Final Update:: I think the max cap at which this stopped is 72-

[2020-11-02 23:14] mDuo13 commented on #2928
Yeah, I suspect `server_state` should _not_ be `full` if the validated ledger is more than 20 seconds old, with the possible exception of stand-alone mode.

[2020-11-03 10:52] mDuo13 opened #3652 "Always return `ledger_index` as int, not str, in JSON"
## Summary
This is the "breaking change" follow up to #3533 . The API (v2 or higher) should always return `ledger_index` fields formatted as the same data type, probably numbers/integers, when serialized to JSON.

## Motivation
See https://github.com/ripple/rippled/issues/3533#issuecomment-675671496 for some examples of places where `ledger_index` is returned as an string-integer rather than a pro

[2020-11-05 15:16] carlhua opened #3653 "Improve JSON reader/writer performance by using Boost JSON"
Consider switching the existing JSON reader to use Boost JSON for better performance. We should do a benchmark before making the switch.

[2020-11-05 15:31] carlhua opened #3654 "Inconsistent error messages - "lgrNotFound" and "ledgerNotFound""
An RPC command could return two different error messages meaning the same thing, either ledgerNotFound or lgrNotFound. There are also some unit tests that care about these values. In addition, it seems that the improved ledger_request response switched from "ledgerNotFound" to "lgrNotFound".  We should consolidate these to use the same error.

Here are some examples of inconsistency:

https://gith

[2020-11-05 15:35] carlhua opened #3655 "Websocket code refactoring to improve performance"
Refactor the Websocket code - Do away with WSMsg and the buffer copying, rework the entire RPC and subscription code paths to yield data on demand from the coroutine. Send WebSocket messages in individual frames to support streaming.

For WebSocket subscriptions, share the data buffers instead of making a copy for each connection. In addition, when permessage-deflate is active on a stream, the cal

[2020-11-05 15:39] carlhua opened #3656 "Fix time arithmetic in Validations and Consensus"
Several spots in generic validation and consensus do arithmetic on times/durations to see if messages are stale. Since `NetClock` uses `uint32_t `for its representation, we should be careful to avoid the potential for overflow. In most cases, this means using addition rather than subtraction, e.g.
[code]
to
[code]

Exported from RIPD-1489

[2020-11-05 15:49] carlhua opened #3657 "Consider automatically generate enum definitions during compilation"
The binary enum definitions should be generated from the rippled code automatically whenever there is a new rippled release.

We should consider how this (interpreted broadly) can be handled so that other packages that rely on the binary representation can be automatically updated.

Options include having a descriptor file in some DSL and a script that parses it to generate the necessary definitio

[2020-11-07 05:52] intelliot commented on #3649
I like both options. Either would be a good improvement over the status quo. Just for fun, let's try taking a (very) informal poll right here.

| Term         | Reaction |
|---|---|
| LedgerEntryID | ❤️ |
| LedgerEntryKey | 🚀 |

React to this comment with the emoji of your preferred term.

[2020-11-07 06:12] sublimator commented on #3649
AccountStateIndex

[2020-11-07 07:25] sublimator commented on #3649
Yeah ^

[2020-11-12 00:51] mDuo13 commented on #3539
It's [not documented](https://xrpl.org/ledger-methods.html) either, so in that sense it's kind of like it's deprecated?

[2020-11-12 00:52] mDuo13 commented on #3245
Delivered in #3587

[2020-11-12 00:52] #3245 closed

[2020-11-12 19:00] ghost opened #3660 "rippled error (Version: 1.6.0)"
## Issue Description

I'm running a Rippled node for a exchange service.
I created new account and I attempted to get info from new account.
But it occurs Error : Account not found.

## Steps to Reproduce

I created new account by using ripple-lib API : api.generateAddress()
Result is like that :
{
    "xAddress": "X7u2KCKEogy378o4ce8AoVWXKWKe7aiti4yzfrxko8w4FJj",
    "secret": "ssaSa7JPQM9itJj3M7

[2020-11-12 19:48] intelliot commented on #3660
@wc-codebase `api.generateAddress()` generates a new address that does not yet exist on the ledger. To actually _create_ the account, you need to [fund the account](https://xrpl.org/accounts.html#creating-accounts) by sending at least 20 XRP to it.

(20 XRP is the current [base reserve](https://xrpl.org/reserves.html#base-reserve-and-owner-reserve).)

Does that help?

[2020-11-12 22:30] MarkusTeufelberger commented on #3660
(Also please NEVER use that account you just posted outside the Test Net, since its secret is now no longer secret)

[2020-11-13 01:47] wc-codebase commented on #3660
@intelliot
Thanks for the reply.
By the way, to fund first charge, I need XRP address and tag.
How can I get tag ?

[2020-11-13 01:52] wc-codebase commented on #3660
@intelliot
Thanks for the reply.
By the way, to fund first charge, I need XRP address and tag.
How can I get tag ?
And when I create new account, it provides 2 types of addresses - typical address and X-address.
Can I use X-address for funding ?

[2020-11-13 02:38] seelabs opened #3663 "`std::shared_mutex` may be buggy on ubuntu 18.04 and earlier"
## Issue Description
According to this thread, there's a bug in glibc that can cause threads using std::shared_mutex to stall. (ref: https://www.reddit.com/r/cpp/comments/jsynzn/stdshared_mutex_was_broken_in_glibc230_distros/). The referenced bug in glibc is here: https://sourceware.org/bugzilla/show_bug.cgi?id=23861). This effects ubuntu 18.04, but not 20.04. We do make use of these locks in ripp

[2020-11-13 09:03] WietseWind commented on #3371
Hey @seelabs - just a friendly reminder/check to see if this is going to be included in the next version ;)

[2020-11-13 13:42] seelabs commented on #3371
@WietseWind Yes, this is still on track to be included in 1.7.

[2020-11-14 02:23] wc-codebase opened #3664 "How to get XRP account tag ? (Version: 1.6.0)"
I'm working on XRP RPC for development XRP exchange platform.
I create XRP account by using ripple-lib api - api.generateAddress().
To enable new account, I need to make transaction and I need Tag.
I can't any reference for getting Tag from new XRP account.
Please help me.

[2020-11-14 03:32] intelliot commented on #3664
@wc-codebase For an account that you own, the destination tag is an arbitrary 32-bit unsigned integer. It is additional data that is embedded in a transaction.

If you generated the new account with `api.generateAddress()`, you can use any tag that you want. It just needs to be a 32-bit unsigned integer, so the minimum value is `0` and the maximum is `4294967295`. You can choose any number within

[2020-11-16 04:18] uioprty opened #3665 "Weird "1" in parital offer TakerPays (Version: 1.6.0)"
## Issue Description
Partial offer left weird accurate "1" in TakerPays, it'll leads to no deals in the same price
See the tx below

## Steps to Reproduce
First, create a offer to use 0.22 USD to exchange 0.1 XRP
Then, create a offer to use 0.2 XRP to exchange 0.44 USD

## Expected Result
Everything fine

## Actual Result
The remains offer left a weird 1 on the TakerPays of USD suffix.

## Environ

[2020-11-16 19:46] rswarthout opened #3666 "Provide a method to return stats/count of current websocket connections"
It would be helpful to server operators to have a way to get information on the number of current websocket connections and other pertinent info.

## Summary
Being able to see the current count of connections and any other stats like connection time length, data transmitted, etc. Considering that a maximum limit can be set in the rippled.cfg to how many connections one would reason that being able

[2020-11-17 01:18] nbougalis commented on #3665
I searched for transaction **`8F451BEE8C5BE64BB2D348C9C5042C715527C86A932C0917B379AB9C6F28B229`** on my personal servers and could not find it on either the testnet or the mainnet. So I am going to proceed with my analysis solely based on the metadata that you have provided here:

First, let's look at the transaction: **`rpZ..qJj`** tried to place an offer:
  `TakerGets`: **`0.200000` XRP**
  `Tak

[2020-11-17 08:44] uioprty commented on #3665
Hi @nbougalis , it really helps. Thank you!

[2020-11-17 10:26] uioprty commented on #3665
Hi @nbougalis , it really helps. Thank you!

[2020-11-17 19:25] ximinez commented on #3664
Note, though, that tags are optional by default. If the account you're creating is personal, and doesn't need any of the types of divisions and record-keeping provided by destination tags, you don't need to use them.

[2020-11-17 20:49] HowardHinnant commented on #3663
I've confirmed that `boost::shared_mutex` does not have this bug.  PR to switch to `boost::shared_mutex` is imminent.

[2020-11-18 03:32] nbougalis commented on #3665
@uioprty Great. Please feel free to close this issue if you feel it's been resolved to your satisfaction. I'll schedule to close this sometime next week if you don't, unless you have something further to add.

[2020-11-18 03:37] #3665 closed

[2020-11-19 00:11] mDuo13 opened #3669 "Deprecate ledger_closed and ledger_current methods"
## Summary
The [`ledger_closed`](https://xrpl.org/ledger_closed.html) and [`ledger_current`](https://xrpl.org/ledger_current.html) methods provide a very small subset of the [`ledger`](https://xrpl.org/ledger.html) command's functionality. They could be removed entirely in APIv2 with no loss to useful functionality.

## Solution
Document the migration path from old API methods to new and remove th

[2020-11-19 00:12] mDuo13 commented on #3539
I guess the only remaining step would be to remove `ledger_header` entirely from APIv2?

[2020-11-19 01:20] mDuo13 commented on #3164
Using [this commit](https://github.com/ripple/rippled/pull/3418/files#diff-84e54cefef81022652115babe4c015a50d9e7502bf7bcaa23543d4887fe600fcR52-R54) as a template, I think the fix for this is to wrap both of the following `fee_ref` lines from NetworkOPs in a condition kind of like this:

[code]

In `subLedger()`: https://github.com/ripple/rippled/blob/0b4e34b03b72196510998375fd28622c8b63aaa7/src/ri

[2020-11-19 10:25] alloyxrp opened #3671 "rippled connect method and outbound slots"
The `rippled connect IP PORT` method currently honors the Outbound slots as defined. So manual connections exceeding that limit fail. However, there are 3 issues with it:

1. The `rippled` node attempts to connect to the other peer before checking whether there are any remaining outbound slots. After connection is established, the connection is reset. This connection should not happen in the first

[2020-11-20 08:42] alloyxrp commented on #3671
Further, it may be preferable to have the `rippled connect` method override the Outbound Slots limits.

[2020-11-20 15:45] wc-codebase commented on #3664
T

[2020-11-20 15:45] #3664 closed

[2020-11-21 18:19] Rojo123abc opened #3674 "[Title with short description] (Version: [rippled version])"
## Issue Description

## Steps to Reproduce

## Expected Result

## Actual Result

## Environment

## Supporting Files

[2020-11-21 18:20] Rojo123abc commented on #3674
Provide summery and reveiw for bug

[2020-11-21 19:38] nbougalis commented on #3674
Hi!

You opened an issue but did not provide any information that could help us triage, evaluate, fix or in some kind address this issue.

I am going to assume this was opened accidentally and will close it.

If you have a bug report, please feel free to open a new issue.

Thanks. 🖖

[2020-11-21 19:38] #3674 closed

[2020-11-23 08:06] nbougalis commented on #3651
@maybeTomorrow: have you been able to produce a smaller binary file? If so, could we close this issue?

[2020-11-23 08:08] nbougalis commented on #3648
@gopherine: we appreciate the feedback. As you said, having a hard cap is not particularly easy, but it may be reasonable to have the server attempt to monitor its memory usage better.

Considering that this issue was about a memory leak, are you OK if we close this issue since there is no leak? We can open a new issue to improve memory management and resource usage associated with shard processin

[2020-11-23 08:09] nbougalis commented on #3630
We should definitely document this and, if possible, link to the details for the major Linux distributions.

[2020-11-23 08:15] nbougalis commented on #3622
@fredbuluku: thanks for your message.

I'm sure I speak on behalf of _everyone_ in the ecosystem when I say that you should outline any ideas you have that can help make the XRP Ledger a better tool to promote financial inclusion and make the world's financial system more accessible to everyone.

However, as important as this conversation is, I don't know that the issue tracker for `rippled` is th

[2020-11-23 08:15] #3622 closed

[2020-11-23 08:27] nbougalis commented on #3511
Completed with 831e03ad2a954051c29c7347b7ff4fc457665504.

[2020-11-23 08:27] #3511 closed

[2020-11-24 02:50] nbougalis commented on #3215
Should be fixed in #3367.

[2020-11-24 02:50] #3215 closed

[2020-11-24 02:52] nbougalis commented on #3166
All the sub-issued described here have been fixed.

[2020-11-24 02:52] #3166 closed

[2020-11-26 15:11] leevlad commented on #3648
I'm seeing intermittent issues with my `rippled` installation on a 16GB node set at `medium` size. It fails to stay synced up sometimes, which also correlates with severe memory usage increases at the same time. I'm also seeing history sharding in those instances. I should probably mention that I'm running a cluster of these nodes, all of them with exact same specifications and parameters. And I'm

[2020-11-30 10:24] ggq89 commented on #3201
I also encountered the same problem

[2020-12-02 03:38] #3651 closed

[2020-12-02 03:39] #3625 closed

[2020-12-02 03:41] maybeTomorrow opened #3681 "how can i pause rippled when no transaction in(Version: 1.6)"
The block height is growing too fast, but there is no transaction submission

[2020-12-02 22:06] mDuo13 commented on #3681
I don't understand the question. If the question is how to stop the server when you're not actively using it, you can use `systemd` on supported distributions:

[code]

(The `.service` part is optional; if you leave it off, systemd will _probably_ still figure out which thing you're talking about.)

To start the server again later when you want to use it again:

[code]

After this command, you'll

[2020-12-02 22:11] mDuo13 commented on #3647
Closing due to inactivity. Feel free to reopen if you can provide more details on the question.

[2020-12-02 22:11] #3647 closed

[2020-12-04 15:42] thejohnfreeman opened #3685 "[1.7.0-b3] Test report double-counts failures (and maybe all tests)"
If N tests fail, the report counts 2*N failures.

## Steps to Reproduce

Build and test. I already had some failures due to environment. If you need to induce a failure, just introduce a not operator (`!`) in one of the `BEAST_EXPECT` calls.

@seelabs identified the culprit as dbde686a97e3df38895e8f9c04eff518e6871a64, and I can confirm.

[2020-12-04 23:57] nbougalis commented on #3648
Thanks for chiming in @leevlad! Do you have any way of capturing the memory usage of the node over time and the following values from `server_info`: `peer_disconnects`, `peer_disconnects_resources`, `peers` and `server_state`, and putting them on a graph?

[2020-12-05 06:13] #3663 closed

[2020-12-06 22:18] #3266 closed

[2020-12-07 08:52] ottcsconsult opened #3688 "Question: ModifiedNode -- why no Offer modifications?"
Sorry, this doesn't quite fit into the Bug Report or Feature Request categories.

Please entertain my issue and consider this scenario:

1. Account A places an offer: Buy 10 USD for 15 XRP.
2. The offer isn't immediately matched, so it becomes a ledger object.
3. Account B places an offer that is matched with Account A's offer. Account B buys 7.5 XRP for 5 USD.
4. Account A's offer is still a ledg

[2020-12-07 09:01] MarkusTeufelberger commented on #3688
Do you have an example transaction for 3 or 4 (ideally on mainnet)?

[2020-12-07 12:39] madshell opened #3689 "Segmentation fault in txs_iter_impl function (Version: 1.6.0)"
## Issue Description
We're running a full history Rippled 1.6.0 and we have multiple processes calling getLedger API (by incrementing the block number). Randomly, we get rippled crashes / segmentation faults. This is potentially a very **dangerous** issue.

We have the impression that it's the result of bad handling of some concurrent memory access.

## Steps to Reproduce
Here is the way we call t

[2020-12-07 14:25] crypticrabbit commented on #3503
I debated adding my thoughts a separate issue, however, I decided to leave them here, as they also relate to adding new fields to the `server` subscription stream. Please let me know if I should separate them out.

In addition to the above point about ledger counts and fee information being useful to people transacting on the XRPL, the `server` stream is also useful for monitoring nodes (load info

[2020-12-07 14:51] cjcobb23 commented on #3689
@madshell There should be more to this stack trace. I don't think frame 11 could ever possibly be the bottom of the stack. There should be some mention of the `JobQueue` at the very least, since the `JobQueue` is what calls the functions to handle the RPC. Any chance you can get a full stack trace for the thread that segfaults?

[2020-12-07 17:44] cjcobb23 commented on #3689
@madshell Thanks for the full backtrace. In the full backtrace, do you know which thread actually crashed?

I am trying to reproduce this issue on my side and want to mirror what you are doing as much as possible. `getLedger` just calls the `ledger` RPC internally. I have a script that is calling `ledger` in a loop, with `"transactions":True, "expand": True`, incrementing the ledger sequence numbe

[2020-12-07 18:11] madshell commented on #3689
@cjcobb23 I don't remember exactly which thread was crashing, I just noticed that it wasn't written in the complete gdb output. I will try to produce another stacktrace and telling you the thread that crashed.

I successfully crashed 2 different nodes (different OS, different disk config, one is on NuDB the other on RocksDB) by asking very quickly a random ledger by 5 different clients (but the sa

[2020-12-07 18:16] madshell commented on #3689
yes (but not sure it's what makes it crash)

[2020-12-07 18:20] madshell commented on #3689
Here is a new crash (that I produced with the JS script):

[code]

result of: ```thread apply all bt```

[thread51_crash.txt](https://github.com/ripple/rippled/files/5654470/thread51_crash.txt)

[2020-12-07 18:45] madshell commented on #3689
I also managed to get another crash (not a SIGSEGV), I don't know if it could be related:

[code]

stacktrace of threads: [SIGABRT.txt](https://github.com/ripple/rippled/files/5654594/SIGABRT.txt)

[2020-12-07 19:31] cjcobb23 commented on #3689
@madshell thanks for all of these stack traces; they are very helpful. The crashing nodes are all running rippled 1.6.0, correct? Did you install a precompiled binary or did you build from source?

[2020-12-07 19:35] madshell commented on #3689
@cjcobb23 yes both nodes are running 1.6.0. I installed with precompiled at first but I also compiled 1.6.0 to try make things healthier (without success). The stack traces are from precompiled running on Debian 10 but crashes happens with both precompiled and build from source.

[2020-12-07 19:39] madshell commented on #3689
I successfully got a new segfault running queries much slower:

[code]

crash is on thread 53

[code]

complete stack trace: [segfault_thread_53.txt](https://github.com/ripple/rippled/files/5654875/segfault_thread_53.txt)

system: not a full node (RocksDB config), Debian 10, precompiled

[2020-12-07 20:14] madshell commented on #3689
@cjcobb23 Apparently, I can only reproduce this if our importer processes are runnning. The only RPC functions that we call are "getLedgerVersion" and "getLedger". I will investigate more tomorrow and get back to you with a proper way to make things crash. Could be great to have a more direct way to communicate.

[2020-12-07 21:23] cjcobb23 commented on #3689
@madshell you can email me at ccobb@ripple.com

[2020-12-07 22:47] mayurbhandary opened #3690 "Send manifests from memory in manifest stream (Version: [1.7.0])"
## Motivation
The manifests stream is sparse because rippled does not send the previously encountered manifests that are stored in memory. Having a rich manifest stream is important for decentralized domain verification via domains found in manifests. By sending those manifests at the beginning of the connection, more domains will be found.

## Solution
Send the manifests that are stored in ripple

[2020-12-07 23:54] leevlad commented on #3648
Thanks for the suggestion. I noticed that I was actually running on `rippled v1.5`. I've just upgraded my fleet to `rippled v1.6`, and will report back if I see the same behavior over the next few weeks. If I do - I will graph the metrics above and report back.

[2020-12-10 08:27] ottcsconsult commented on #3688
I'm sorry. I think I misread the ledger information. I tested again and I now do see ModifiedNode entries with LedgerEntryType = "Offer". Sorry about the false alert.

[2020-12-10 08:27] #3688 closed

[2020-12-10 19:11] ximinez commented on #3688
No problem. Glad you were able to resolve your issue!

[2020-12-11 00:54] miguelportilla opened #3699 "Update asio types"
Update rippled to use the new asio types introduced in boost 1.7.0.

[2020-12-13 10:40] rustyx commented on #3232
This issue is still reproducible in Ubuntu if built with `cmake -DCMAKE_INSTALL_PREFIX=/usr ..`

[2020-12-14 05:44] maybeTomorrow commented on #3681
i hope  auto start service when transaction  submit

[2020-12-14 05:48] maybeTomorrow commented on #3681
i mean such as ethereum  miner.stop()

[2020-12-15 01:21] cjcobb23 commented on #3689
@madshell this should be fixed in 1.7-b8 (current tip of develop branch). Can you test and confirm?

[2020-12-15 15:16] block-hac opened #3704 "How can I set destination tag to new account ? (Version: 1.6)"
## Summary

I created new xrp account by using generateAddress() of ripple-lib.
## Motivation

To deposit XRP, I need to get destination_tag of new account.
## Solution

How can I get or set destination_tag from new account ?
## Paths Not Taken

[2020-12-15 16:43] ximinez commented on #3704
Duplicate of #3664: "How to get XRP account tag ?"

@intelliot wrote:

And I wrote:

[2020-12-15 16:43] #3704 closed

[2020-12-15 16:49] madshell commented on #3689
@cjcobb23 After compiling 1.7-b8, I tested it intensively for more than 30 minutes with aggressive parameters and I can't reproduce the bug anymore. Well done guys!

[2020-12-15 17:04] #3689 closed

[2020-12-15 17:12] madshell commented on #3689
@cjcobb23 1.7 binary is a lot more heavy (1.4GB) than compiled 1.6 (400MB), is this expected? Binaries from repositories seems a lot lighter also, probably compilation parameters?

[2020-12-15 19:53] ximinez commented on #3689
If you built the binary yourself, the size difference may just be a result of the difference between a Debug & Release build, or a static & non-static build. I don't know offhand which options are used to build the packages.

[2020-12-17 06:30] nbougalis commented on #3681
There's no mechanism in the code to achieve that: note that the XRPL does not use mining, and so resource usage should be minimal.

Please note that unless you are an exchange or other business that has specific requirements, you don't necessarily even need to run a server. You can rely on publicly accessible endpoints, like [**xrpl.ws**](https://xrpl.ws/) which is a great high-availability servic

[2020-12-21 13:53] #3366 closed

[2020-12-21 15:44] WietseWind commented on #3371
@seelabs Just to confirm: still to be included in 1.7? As I don't see it on the 1.7 project board?

[2020-12-21 23:07] seelabs commented on #3371
@WietseWind Yes, this will be included in 1.7.

[2020-12-22 01:11] curtcurt87 commented on #3669
``[Etherscan.io 21/12/2020 23:33:28] I, hereby verify that I am the owner/creator of the address [0xd1e5b0ff1287aa9f9a268759062e4ab08b9dacbe]

[2020-12-22 08:25] anhcao142 commented on #3594
Hi, good knowledge on the `fail_hard` option, I will update it to my code and will handle the retry part myself. For the issue, although I haven't changed anything since then, I also haven't encountered this error anymore. I also don't know how to reproduce the error so I think I will close this for now. Thanks for your support

[2020-12-22 08:25] #3594 closed

[2020-12-24 09:05] bagikh commented on #3064
Is testnet.data.api still working? if not, what rpc endpoint i can use for testing v2 data api?. Thank you

[2020-12-25 06:47] maybeTomorrow opened #3713 "i can't connect to rippled peer(Version: 1.6.0])"
i run three peers,two of peer is running success
2020-Dec-25 06:40:56.508848360 UTC Server:NFO Opened 'port_peer' (ip=0.0.0.0:51235, peer)

i send connect common to last peer
{
    "method": "connect",
    "params": [
        {
            "ip": "192.168.1.108",
            "port": 31235
        }
    ]
}

but i got this error

2020-Dec-25 06:43:56.598794888 UTC Resource:DBG New outbound endpoint

[2020-12-25 20:17] nbougalis commented on #3713
So, I noticed that you are attempting to connect to port **31235**. Is that what you intended to do, or did you mean to type **51235** instead?

[2020-12-25 20:19] nbougalis commented on #3681
@maybeTomorrow: can we close this issue?

[2020-12-27 02:22] MarkusTeufelberger commented on #3713
Connecting to peers on a LAN is also something that `rippled` usually prevents, not sure if the `connect` API call is one way to circumvent that.

[2020-12-27 02:25] maybeTomorrow commented on #3713
i run node b in port 51236, and connect to node a port 51235

[2020-12-27 02:30] maybeTomorrow opened #3714 "InsufficientNetworkMode (Version: 1.6.0)"
i don't do any,but one day i got this error,it was good before.

{error: "noNetwork"
error_code: 17
error_message: "InsufficientNetworkMode"
id: 14
request: {accounts: false, command: "ledger", expand: false, full: false, id: 14, …}
status: "error"
type: "response"
}

server_state:
{
   "result" : {
      "state" : {
         "build_version" : "1.6.0",
         "complete_ledgers" : "5-1303118",

[2020-12-27 03:19] #3681 closed

[2020-12-27 03:20] maybeTomorrow commented on #3714
i feel so bad for this system

[2020-12-27 03:44] maybeTomorrow commented on #3714
i restart other node,and it run fine,but  "complete_ledgers" show "5-1303118,1306940-1316920",and i can't find account history by method account_tx.

[2020-12-27 03:53] maybeTomorrow commented on #3714
and now i got account history.

[2020-12-27 05:59] nbougalis commented on #3713
@maybeTomorrow, are both nodes running on the same machine? That's generally not an ideal scenario, but _should_ be OK for testing.

With that said, you say that you _"run node b in port 51236, and connect to node a port 51235"_.

But, from the log message shown earlier, you seem to be attempting to connect to port **31235**.

[2020-12-27 06:14] nbougalis commented on #3714
Based on your `server_state` output, observe that the server has been in the current state (`proposing`) for less than half a second, it has zero proposers, 1 peer and a large number of disconnections. So it's likely that when you executed the previous command the server was unable to answer it because it was in a different state and had, as the message suggest, an "insufficient network mode".

I

[2020-12-28 06:24] maybeTomorrow opened #3715 "tfClearNoRipple does'nt work (Version: 1.6.0)"
tx_json:
   { Account: 'rf5Rdie79SdpRgF4gQv5ayatoqYufrVrSb',
     Fee: '0',
     Flags: 262144,
     LastLedgerSequence: 1239744,
     LimitAmount:
      { currency: 'EKB',
        issuer: 'rLCparvg3CQJCrwYYRfEqmuBScoqLkBSt8',
        value: '1000000000' },
     Sequence: 1237799,
     SigningPubKey: '0242BBAF0D805001F7D330ADCE8040F927C76BA3A0A7036881474A30182FDC9853',
     TransactionType: 'Trust

[2020-12-28 06:26] maybeTomorrow commented on #3714
i set two node in private network.and connect each other

[2020-12-28 06:28] maybeTomorrow commented on #3713
i mean node a 51235 is running ,and i send connect command to node b 51236 to connect node a

[2020-12-28 07:46] maybeTomorrow commented on #3713
2020-Dec-28 07:42:48.246242021 UTC PeerFinder:DBG Logic accept      192.168.1.108:10561 on local 192.168.1.108:51235
2020-Dec-28 07:42:48.246693394 UTC PeerFinder:DBG Logic handshake   192.168.1.108:10561 with key 0243CD5015DCF1669CE917BAC1C5E49FCFDF232218C07567B375006E302492E830
2020-Dec-28 07:42:48.246740811 UTC Peer:DBG [002] Peer 192.168.1.108:10561 redirected, slots full
2020-Dec-28 07:42:48.

[2020-12-28 08:52] maybeTomorrow commented on #3149
so ,how to start a new Genesis Ledger not in  Stand-Alone Mode

[2020-12-28 08:57] bagikh commented on #2997
Hello, is https://testnet.data.api.ripple.com still working?

I cannot get results for these /v2/ledgers and /v2/ledgers/ledgerIndex methods. Does anybody have any idea how to solve it?

[2020-12-28 09:36] maybeTomorrow commented on #3713
how to Start a New Genesis Ledger not in Stand-Alone Mode

[2020-12-29 03:44] maybeTomorrow commented on #3715
some one help

[2020-12-29 03:47] maybeTomorrow commented on #3715
{ type: 'trustline',
  address: 'rhEjhs4Xq1VjCJM6THkWuYdeDZdt1pHvQ2',
  sequence: 7,
  id: '5107A2877136BC8478EFA5A237685D64D2B8EDAD901C85415EAD87FBD116681E',
  specification:
   { limit: '1000000000',
     currency: 'NEC',
     counterparty: 'rhWmiZUid9489WVLBYyrje1FmpMkR5VuPk',
     ripplingDisabled: false },
  outcome:
   { result: 'tesSUCCESS',
     timestamp: '2020-12-29T03:46:00.000Z',

[2020-12-30 23:26] thejohnfreeman opened #3717 "Does NodeStore::DatabaseShardImp stop correctly?"
Look at the stop sequence for `NodeStore::DatabaseShardImp`:

1. [`NodeStore::DatabaseShardImp::onStop`](https://github.com/ripple/rippled/blob/54da532ace8fd59623004a91e489163e0955b71d/src/ripple/nodestore/impl/DatabaseShardImp.cpp#L686-L697) is called. It first calls [`stopReadThreads()`](https://github.com/ripple/rippled/blob/54da532ace8fd59623004a91e489163e0955b71d/src/ripple/nodestore/impl/Dat

[2020-12-31 01:24] nbougalis commented on #3715
Hi @maybeTomorrow. I'm a bit confused at what you're asking. I can't see the accounts you specify either on the mainnet or the testnet. Can you show the transaction you're attempting to execute (on the testnet or the mainnet) please? If you cannot, maybe you could show the state of trust line _before_ and _after_ the execution of the transaction.

[2021-01-04 17:39] intelliot commented on #3690
Another option might be to add a mode to the `manifest` method where it returns all of the manifests stored in memory. For example, I think it makes sense to return all manifests if `public_key` is not specified.

[2021-01-05 01:06] intelliot commented on #3592
@PacoCotera Could you try this again? We've deployed an update that should fix this issue.

[2021-01-05 04:16] gnurag opened #3719 "Expose ledger metrics (Version: 1.7/1.8?)"
## Summary
`rippled` exposes several statistics via its CLI and API. It would be great to have a new per-ledger metrics command/api (such as number of accounts, owner objects, escrows). If rippled is already aware of these numbers on a per-ledger basis, it would be easy to return this info.

## Motivation
It would be great if explorers can plot these numbers on a chart and visually depict ledger g

[2021-01-05 10:12] MarkusTeufelberger commented on #3719
I don't see how this would be calculated for an older ledger that's no longer cached other than either keeping a database with these metrics around (complex) or by querying the full ledger and counting the objects (expensive). Calculating this from API calls and caching these (static) values in a local database would be a great external project. I don't see how this would be a performance differen

[2021-01-05 16:28] ximinez commented on #3719
@cjcobb23 @mtrippled Is this something reporting mode could do more efficiently?

[2021-01-07 19:27] PacoCotera commented on #3592
Hi,

It partially works.

The webpage for the validator now shows the domain name. But stats for the validations are not present neither on this page or on the validator list.

https://xrpcharts.ripple.com/#/validators/nHUfExi5maUJk5os6aRsbMFv37PyycQ5sVf4AMqTnLJMGPEsyjQo

![image](https://user-images.githubusercontent.com/19177310/103935039-9a3a9800-50eb-11eb-97e9-2da2ccf79637.png)

Validator stat

[2021-01-11 11:37] ghost opened #3721 "[InsufficientNetworkMode - no *.ripple.com peers] (Version: [1.6.0])"
## Issue Description
I have two machines running rippled. Since Friday I have been getting InsufficientNetworkMode responses for e.g. account_info calls on both of them. This started to happen without my interaction.

## Steps to Reproduce
Start rippled, wait for consensus.
`server_info` > `server_state` is "full"

To troubleshoot I added this to my existing config:
[code]

If I check `rippled pee

[2021-01-11 14:05] ximinez commented on #3721
"InsufficientNetworkMode" means that your rippled node is not able to get in sync or stay in sync with the rest of the network. The two most common causes are insufficient connectivity / networking issues, and insufficient computing resources. Sometimes, this happens during transaction spikes when an otherwise sufficient system gets overwhelmed. Most of the time the issue will resolve itself, and

[2021-01-11 14:10] cjcobb23 commented on #3719
Reporting mode _can_ do something like this, though I don't know if it should. We would need to store these metrics in a database, or somehow change the way we store data. This adds complexity to the ETL process, and thus there is a limit to the number of metrics that we could track. @gnurag could you list out all of the metrics that you are looking for?

Really this is something that belongs in a

[2021-01-11 14:20] g574 commented on #3721
hi @ximinez , thank you for your advices.
I know what can be the reasons but I don't understand why it happened on both of my machines without me changing anything and why don't I have *.ripple.com peers? And this has been the situation for 3 days now.

I have 23 GB Ram and 6 cores - I guess it should be enough.
Here's my `server_info`:
[code]

[2021-01-11 17:15] #3548 closed

[2021-01-11 17:15] #3470 closed

[2021-01-11 18:45] ximinez commented on #3721
I see you have 10 peers, but I also notice you have 558 peer disconnects. Some disconnects are normal, so that number will increase over time, but with an uptime of only 4960 seconds, that's one disconnect about every 9 seconds. It's also taking an average of 39 seconds to process ledger data. Those both seem pretty high.

My best guess right now is that you don't have sufficient IOPS to keep up w

[2021-01-11 21:26] intelliot commented on #3592
@PacoCotera Is your validator still running? It normally takes about 1-2 days for historical data to start showing on the validator page.

[2021-01-11 23:46] mayurbhandary commented on #3592
@PacoCotera, could you please paste your latest manifest? You can find this by using the manifest command and entering your validator's public key as the parameter. Please try the following on your validator:
[code]

You can replace 5005 with your rpc admin port (5005 is the default listed under port_rpc_admin_local in the config file). I have put your validator's public key in the `public_key` pa

[2021-01-13 11:15] nbougalis commented on #3317
![image](https://user-images.githubusercontent.com/5085415/104444396-94f6a680-554c-11eb-86bf-be8923f37d05.png)

[2021-01-14 08:32] granuz88 commented on #3592
Hi all,

I have the same issue. When I set the domain name and changed the token on the rippled.cfg file, the validator disappeared from the public validator list.
Is still proposing ad It is online.
Domain: xrpvalidator.ftso.eu
Public Key: nHBdXSF6YHAHSZUk7rvox6jwbvvyqBnsWGcewBtq8x1XuH6KXKXr
If I check the TOML and the domain using the tools provided on xrpl.org, the results are fine and it is al

[2021-01-14 13:18] baastrup opened #3723 "A script or API function to change device_attributes"
A way to change device attributes on multiple devices based on ther things than "os" change/activate device attributes poller modules.

Could be through API or a php script in the opt/librenms folder.

our case:

We want to be able to only poll for ports on our switches thats acts as Border nodes/routers but not the layer 2 access switches.
the switches run the same OS so that feature cant be used

[2021-01-14 13:19] baastrup opened #3724 "API support to change device _attributes"
A way to change device attributes on multiple devices based on ther things than "os" change/activate device attributes poller modules.

Could be through API or a php script in the opt/librenms folder.

our case:

We want to be able to only poll for ports on our switches thats acts as Border nodes/routers but not the layer 2 access switches.
the switches run the same OS so that feature cant be used

[2021-01-14 13:20] #3724 closed

[2021-01-14 17:46] mayurbhandary commented on #3592
Hi @granuz88  and @PacoCotera. It seems the issue is that the validator list sites [subscribe](https://xrpl.org/subscribe.html#validations-stream) to the 'manifests' stream from rippled, but the manifests on those streams do not include the domain. A PR has been created in the rippled repo to resolve this issue: https://github.com/ripple/rippled/pull/3722/files.

[2021-01-15 02:18] mDuo13 opened #3727 "tx method: better handling of cached transactions that can never be validated (Version: v1.7.0-b10)"
## Summary
When you use the [tx method](https://xrpl.org/tx.html) on a transaction that's been cached but does not appear in any ledger, the response has a special case format that is undocumented and unhelpful.

We should add the `searched_all` response field to this case if you provided the `min_ledger` and `max_ledger` fields (added in 1.5.0), or remove this case so that it results in a `txnNot

[2021-01-15 03:10] nbougalis commented on #3723
I think you opened this issue in the wrong repo. Did you mean to open this on https://github.com/librenms/librenms maybe?

[2021-01-15 18:20] qilinlab opened #3728 "TEc_PATH_DRY"
Hi Recently receving tec_PATH_DRY for any XRPL transaction thugh both parties trust the same issuer.
Also, not clear what no_ripple_peer means

Issuer:
https://xrpscan.com/account/r4KDrbRzU2BEAkXP2gn1yQymJ37GqhJM1G
Receiver:

https://xrpscan.com/account/rJoqJeg3smq4CxQzhLRtraH1BDBFZKUqVU

[2021-01-18 03:32] #3723 closed

[2021-01-19 21:53] mDuo13 commented on #3728
[`no_ripple_peer: true`](https://xrpl.org/rippling.html#looking-up-no-ripple-status) means that the counterparty (of whoever you looked up) has the No Ripple setting enabled on the trust line. In this case, your issuer has not enabled Default Ripple, so all trust lines opened to them have rippling disabled (the "No Ripple" setting enabled) by default, and this blocks funds from flowing through the

[2021-01-19 23:26] mDuo13 opened #3731 "Proposal: Support freeform MessageKey values."
## Summary
The `MessageKey` field of accounts is intended to hold a public key for sending encrypted messages to the account owner. The key is not required to be tied to one of the account's signing keys (in fact, it's best if it's not) but the key _is_ required to have the length and prefix of a secp256k1 or Ed25519 public key.

I think this requirement is unnecessarily restrictive.

## Motivatio

[2021-01-20 02:02] mDuo13 opened #3734 "Stand-alone mode ignores reserves voting on fresh ledger (Version: 1.7.0-b10)"
## Issue Description
When starting a new ledger in stand-alone mode, the server uses the hard-coded default reserve settings of 200 XRP base + 50 XRP incremental reserve, ignoring the configured `[voting]` stanza.

This issue causes transactions that send, say, 21 XRP to a fresh account to result in `tecNO_DST_INSUF_XRP` when run against a server in stand-alone mode instead of succeeding, when the

[2021-01-21 18:48] #3317 closed

[2021-01-23 01:05] mDuo13 opened #3740 "Rename SetRegularKey transaction"
## Summary
`SetRegularKey` is the only native transaction type that puts "Set" at the beginning, not the end of the name. We could change this while maintaining backwards compatibility and _without_ a protocol change.

## Motivation
The standard structure of XRPL transaction type names is in PascalCase, with the object being acted upon first, and the verb last. There are a couple exceptions, but t

[2021-01-25 09:10] anhcao142 opened #3742 "Get `tefALREADY` even with fail_hard = true (Version: s1.ripple.com:51234)"
## Issue Description
Get `tefALREADY ` error when trying to submit tx with `fail_hard` option

## Steps to Reproduce
This happens at random, unknown what triggers the behavior

## Expected Result
With the `fail_hard` option turn on I would expect either tx success or any error relates to fee or tx not correct

## Environment
Public node: s1.ripple.com:51234

## Supporting Files
Here my response ob

[2021-01-25 15:57] ximinez commented on #3742
I'm not quite sure what the issue is here. As described in the response object, `tefALREADY` indicates that "the exact transaction was already in this ledger." That indicates that you have submitted the exact same transaction twice in close succession. The only other possible response in that case would have been `tefPAST_SEQ`.

`fail_hard` does not change the potential results in any way. The onl

[2021-01-25 17:45] anhcao142 commented on #3742
Hi, I understand the error's meaning, my point is, this is the first time the transaction is broadcasted. There is no way the tx is broadcasted twice, otherwise, this would have happened a lot to my other txs. I suspect that the node is doing some retry itself even with the `fail_hard` flag on.

[2021-01-25 19:45] intelliot commented on #3742
@anhcao142 Can you share some sample code that reproduces this error?

(Unless there's a bug, I don't think you can get this error if it's the first time that the transaction has ever been submitted.)